<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="Fragmentos/head :: head('Crear equipo')"></head>

<body>
<!-- ======= Header ======= -->
  <header th:replace="Fragmentos/header :: header('admin')"><!-- End Header --></header>

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Gestión de Usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/admin/crearUsuario}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a th:href="@{/admin/listaUsuario}">
              <i class="bi bi-circle"></i><span>Lista de Usuarios</span>
            </a>
          </li>
        </ul>
      </li><!-- End Tables Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>Gestión de Empresas</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/admin/crearEmpresa}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a th:href="@{/admin/listaEmpresa}">
              <i class="bi bi-circle"></i><span>Lista de empresas</span>
            </a>
          </li>
        </ul>
      </li><!-- End Charts Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>Gestión de Sitios</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/admin/crearSitio}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a th:href="@{/admin/listaSitio}">
              <i class="bi bi-circle"></i><span>Lista de sitios</span>
            </a>
          </li>
          <li>
            <a th:href="@{/admin/inventarioSitio}">
              <i class="bi bi-circle"></i><span>Mapa de Inventario</span>
            </a>
          </li>
        </ul>
      </li><!-- End Icons Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Gestión de Equipos</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a th:href="@{/admin/crearEquipo}">
              <i class="bi bi-circle"></i><span>Crear</span>
            </a>
          </li>
          <li>
            <a th:href="@{/admin/listaEquipo}">
              <i class="bi bi-circle"></i><span>Lista de equipos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="container">


    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Gestión de equipos</a></li>
          <li class="breadcrumb-item active">Crear equipo</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="rounded p-5" style="background-color: #FFFFFF;">
          <div class="pagetitle">
            <h1 class="card-title">Creación de equipo</h1>
          </div>
          <form method="POST" action="" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">

                <div class="mb-3">
                  <label for="nombre">Nombre:</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" >
                </div>

                <div class="mb-3">
                  <label for="descripcion">Marca:</label>
                  <input type="text" class="form-control" name="descripcion" id="descripcion" >
                </div>

                <div class="mb-3">
                  <label for="precio">Modelo:</label>
                  <input type="text" class="form-control" name="precio" id="precio">
                </div>

                <div class="mb-3">
                  <label for="descuento">Descripción:</label>
                  <input type="text" class="form-control" name="descuento" id="descuento" >
                </div>

                <div class="mb-3">
                  <label for="descuento">Cantidad:</label>
                  <input type="number" class="form-control" name="descuento" id="descuento" >
                </div>

                <div class="input-group mb-3">
                  <label for="consola">Sitio de despliegue:</label>
                  <div class="col-12">
                    <select name="consola" id="consola" class="form-control">
                      <option value="Cargo1"></option>
                      <option value="Cargo1">Sitio de T. Fija</option>
                      <option value="Cargo2">Sitio de T. Móvil</option>
                    </select>
                  </div>
                </div>
              </div>
              <br><br>
              <div class="col-md-6">

                <div class="mb-3">
                  <label for="descuento">Foto de referencia:</label>
                  <input class="form-control" type="file" id="formFile">
                </div>

                <button type="submit" class="btn btn-outline-primary float-end">Crear</button>
              </div>
            </div>
          </form>
        </div>
        <br><br>


      </div>
    </section>
      <br>
      <a th:href="@{/admin/listaEquipo}" class="btn btn-outline-danger">Regresar</a>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>NiceAdmin</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>