<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="Fragmentos/head :: head('Crear usuario')"></head>

<body>
<!-- ======= Header ======= -->
  <header th:replace="Fragmentos/header :: header('admin')"><!-- End Header --></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAdmin :: menu(currentPage='crearUsuario')">
</aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="container">
      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a>Gestión de usuario</a></li>
            <li class="breadcrumb-item active">Crear usuario</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <div class="rounded p-5" style="background-color: #FFFFFF;">
            <div class="pagetitle" style="margin-top: -35px;">
              <h1 class="card-title">Creación de usuario</h1>
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msgCargo != null}" th:text="${msgCargo}">
              A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msgEmpresa != null}" th:text="${msgEmpresa}">
              A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msgEmail != null}" th:text="${msgEmail}">
              A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msgImagen != null}" th:text="${msgImagen}">
              A simple success alert—check it out!
            </div>
            <div class="alert alert-danger" role="alert" th:if="${msgImagen1 != null}" th:text="${msgImagen1}">
              A simple success alert—check it out!
            </div>
            <form method="POST" th:action="@{/admin/saveUsuario}" th:object="${usuario}" enctype="multipart/form-data" style="margin-bottom: -35px;">
              <div class="row">
                <div class="col-md-6">
                  <input type="hidden" class="form-control" name="idJuego" id="idJuego">
                  <div class="mb-3">
                    <label class="form-label">Nombres:</label>
                    <input th:field="*{nombre}" type="text" th:class="${#fields.hasErrors('nombre')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Apellidos:</label>
                    <input th:field="*{apellido}" type="text" th:class="${#fields.hasErrors('apellido')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Correo:</label>
                    <input th:field="*{correo}" type="text" th:class="${#fields.hasErrors('correo')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                      Mensaje de error de correo
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">DNI:</label>
                    <input th:field="*{dni}" type="text" th:class="${#fields.hasErrors('dni')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                      Mensaje de error de correo
                    </div>
                  </div>

                  <!--input type="hidden" name="contrasenia" id="contrasenia" th:value="${codigoAleatorio}"-->

                  <input type="hidden" name="habilitado" id="habilitado" value="1">

                  <input type="hidden" name="fechaRegistro" id="fechaRegistro" th:value="${fechaActual}">
                  <input type="hidden" name="tecnicoConCuadrilla" id="tecnicoConCuadrilla" value="0">

                  <div class="mb-3">
                    <label for="cargo" class="form-label">Selector de cargos</label>
                    <select class="form-select" name="cargo" id="cargo">
                      <option value="">--Seleccione un cargo--</option>
                      <option th:each="cargo: ${listaCargo}"
                              th:unless="${cargo.nombreCargo == 'Super administrador' || cargo.nombreCargo == 'Administrador'}"
                              th:text="${cargo.nombreCargo}" th:value="${cargo.idCargos}"
                              th:selected="${cargoSeleccionado != null && cargoSeleccionado.idCargos == cargo.idCargos}"
                      >Open this select menu</option>
                    </select>
                  </div>

                  <div class="mb-3">
                    <label for="empresa" class="form-label">Selector de Empresas</label>
                    <select class="form-select" name="empresa" id="empresa">
                      <option value="">--Seleccione una empresa--</option>
                      <option th:each="empresa: ${listaEmpresa}"
                              th:text="${empresa.nombre}" th:value="${empresa.idEmpresas}"
                              th:selected="${empresaSeleccionada != null && empresaSeleccionada.idEmpresas == empresa.idEmpresas}"
                      >Open this select menu</option>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Descripción:</label>
                    <input th:field="*{descripcion}" type="text" th:class="${#fields.hasErrors('descripcion')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">
                      Mensaje de error de descripcion
                    </div>
                  </div>
                </div>
                <br><br>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="imagenSubida" class="form-label">Foto de Perfil:</label>
                    <div class="card mx-auto" style="width: 250px; max-height: 250px">
<!--                      <img id="imgPreview" th:src="@{/file/nuevo}" class="card-img-top" style="max-height: 250px" alt="">-->
                      <img id="imgPreview" th:src="@{/userDefault}" class="card-img-top rounded-circle" style="max-height: 250px" alt="">

                    </div>
                    <input class="form-control" type="file" name="imagenSubida" id="imagenSubida"
                           accept="image/*" onchange="previewImage(event, '#imgPreview')">
                  </div>

                  <button type="submit" class="btn btn-outline-primary float-end">Crear</button>
                </div>
              </div>
            </form>
          </div>
          <br>
        </div>
      </section>
      <br>
      <a th:href="@{/admin/listaUsuario}" class="btn btn-outline-danger">Regresar</a>
    </div>
  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
  <script th:src="@{/assets/js/foto.js}"></script>
<!-- Para generar contraña -->
  <script>

    var caracteres = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';
    var codigoAleatorio = '';
    var contraseniaInput = document.getElementById("contrasenia");
    for (var i = 0; i < 6; i++) {
      var indice = Math.floor(Math.random() * caracteres.length);
      codigoAleatorio += caracteres.charAt(indice);
    }
    //document.getElementById('codigoAleatorio').value = codigoAleatorio;
    contraseniaInput.value = codigoAleatorio;
  </script>

<!-- Para FECHA -->
<script>
  // Obtener el campo de fecha por su ID
  var fechaRegistro2Input = document.getElementById("fechaRegistro");

  // Obtener la fecha actual en el formato deseado ('yyyy-MM-dd')
  var fechaActual = new Date().toISOString().split("T")[0];

  // Establecer la fecha actual como valor del campo
  fechaRegistro2Input.value = fechaActual;
</script>

<!-- Para previsualizar Imagen -->
<script>
  function previewImage(event, imageId) {
    const input = event.target;
    const image = document.querySelector(imageId);

    if (input.files && input.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        image.src = e.target.result;
      };

      reader.readAsDataURL(input.files[0]);
    }
  }
</script>



</body>

</html>