<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="Fragmentos/head :: head('Editar usuario')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('admin')"><!-- End Header --></header>


<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAdmin :: menu">
</aside><!-- End Sidebar-->


  <main id="main" class="main">
    <div class="container">


    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Gestión de usuario</a></li>
          <li class="breadcrumb-item active">Editar usuario</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="rounded p-5" style="background-color: #FFFFFF;">
          <div class="pagetitle">
            <h1 class="card-title">Información de usuario</h1>
          </div>
          <form method="POST" action="" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6">

                <div class="mb-3">
                  <label for="nombre">Nombres:</label>
                  <input type="text" class="form-control" name="nombre" id="nombre" value="Rommel Antonio">
                </div>

                <div class="mb-3">
                  <label for="descripcion">Apellidos:</label>
                  <input type="text" class="form-control" name="descripcion" id="descripcion" value="Garay Santos">
                </div>

                <div class="mb-3">
                  <label for="precio">Empresa:</label>
                  <input type="text" class="form-control" name="precio" id="precio" value="PUCP" >
                </div>

                <div class="mb-3">
                  <label for="descuento">Correo:</label>
                  <input type="text" class="form-control" name="descuento" id="descuento" VALUE="rommel@gmail.com" >
                </div>

                <div class="mb-3">
                  <label for="consola">Cargo:</label>
                  <div class="col-12">
                    <select name="consola" id="consola" class="form-control">
                      <option value="Cargo1">Analista de OyM</option>
                      <option value="Cargo2">Analista de Planificación</option>
                      <option value="Cargo3">Analista de Supervisor de campo</option>
                      <option value="Cargo4">Técnicos</option>
                    </select>
                  </div>

                </div>
              </div>
              <br><br>
              <div class="col-md-6">

                <div class="mb-3">
                  <label for="descuento">Foto de perfil:</label>
                  <br>
                  <br>
                  <img th:src="@{/assets/img/yo_2.jfif}" style="max-width: 300px;" alt="">
                </div>

                <button type="submit" class="btn btn-outline-primary float-end">Aplicar cambios</button>
              </div>
            </div>
          </form>
        </div>
        <br><br>


      </div>
    </section>
      <br>
      <a th:href="@{/admin/listaUsuario}" class="btn btn-outline-danger">Regresar</a>
    </div>
  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>