<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="Fragmentos/head :: head('Editar usuario')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('admin')"><!-- End Header --></header>


<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAdmin :: menu('editarUsuario')">
</aside><!-- End Sidebar-->


  <main id="main" class="main">
    <div class="container">


    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a >Gestión de usuario</a></li>
          <li class="breadcrumb-item active">Editar usuario</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <div class="rounded p-5" style="background-color: #FFFFFF;">
          <div class="pagetitle">
            <h1 class="card-title">Editar información de usuario</h1>
          </div>
          <div class="alert alert-danger" role="alert" th:if="${msgCargo != null}" th:text="${msgCargo}">
            A simple success alert—check it out!
          </div>
          <div class="alert alert-danger" role="alert" th:if="${msgEmpresa != null}" th:text="${msgEmpresa}">
            A simple success alert—check it out!
          </div>
          <div class="alert alert-danger" role="alert" th:if="${msgEmail != null}" th:text="${msgEmail}">
            A simple success alert—check it out!
          </div>

          <form method="POST" th:action="@{/admin/updateUsuario}" th:object="${usuario}" enctype="multipart/form-data" style="margin-bottom: -35px;">
            <input type="hidden" name="_method" value="PUT">
            <div class="row">
              <div class="col-md-6">
                <input type="hidden" class="form-control" th:field="*{id}">

                <div class="mb-3">
                  <label class="form-label">Nombres:</label>
                  <input th:field="*{nombre}" type="text" th:class="${#fields.hasErrors('nombre')?'form-control is-invalid':'form-control'}"/>
                  <div class="invalid-feedback"
                       th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">
                    Mensaje de error de nombre
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Apellidos:</label>
                  <input th:field="*{apellido}" type="text" th:class="${#fields.hasErrors('apellido')?'form-control is-invalid':'form-control'}"/>
                  <div class="invalid-feedback"
                       th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">
                    Mensaje de error de nombre
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Correo:</label>
                  <input th:field="*{correo}" type="text" th:class="${#fields.hasErrors('correo')?'form-control is-invalid':'form-control'}"/>
                  <div class="invalid-feedback"
                       th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                    Mensaje de error de correo
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">DNI:</label>
                  <input th:field="*{dni}" type="text" th:class="${#fields.hasErrors('dni')?'form-control is-invalid':'form-control'}"/>
                  <div class="invalid-feedback"
                       th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                    Mensaje de error de correo
                  </div>
                </div>

                <div class="mb-3">
                  <label class="form-label">Descripción:</label>
                  <input th:field="*{descripcion}" type="text" th:class="${#fields.hasErrors('descripcion')?'form-control is-invalid':'form-control'}"/>
                  <div class="invalid-feedback"
                       th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">
                    Mensaje de error de descripcion
                  </div>
                </div>

              </div>
              <br><br>
              <div class="col-md-6">

                <div class="mb-3">
                  <label class="form-label">Cargo</label>
                  <select class="form-select" name="cargo" id="cargo">
                    <option th:each="cargo: ${listaCargo}"
                            th:unless="${cargo.nombreCargo == 'Superadmin' || cargo.nombreCargo == 'Administrador'}"
                            th:text="${cargo.nombreCargo}" th:value="${cargo.idCargos}"
                            th:selected="${usuario.cargo.idCargos == cargo.idCargos}">Open this select menu</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Empresa</label>
                  <select class="form-select" name="empresa" id="empresa">
                    <option th:each="empresa: ${listaEmpresa}"
                            th:text="${empresa.nombre}" th:value="${empresa.idEmpresas}"
                            th:selected="${usuario.empresa.idEmpresas == empresa.idEmpresas}">Open this select menu</option>
                  </select>
                </div>

                <div class="mb-3">
                  <label class="form-label">Foto de perfil:</label>
                  <div class="card mx-auto" style="width: 250px; max-height: 250px">
                    <img th:src="@{|/file/${usuario.archivo.idArchivos}|}" class="card-img-top rounded-circle" style="max-width: 300px;" alt="">
                  </div>
                </div>

                <button type="submit" class="btn btn-outline-primary float-end">Aplicar cambios</button>
              </div>
            </div>
          </form>
        </div>
        <br><br>


      </div>
    </section>
      <br>
      <a th:href="@{/admin/listaUsuario}" class="btn btn-outline-danger">Regresar</a>
    </div>
  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/foto.js}"></script>

</body>

</html>