<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Lista de sitios')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('admin')"><!-- End Header --></header>


<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAdmin :: menu">
</aside><!-- End Sidebar-->


  <main id="main" class="main">
    <div class="container">

      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Gestión de sitios</a></li>
            <li class="breadcrumb-item active">Lista de sitios</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">

              <div class="card-body">
                <div class="container">

                  <a th:href="@{/admin/crearSitio}" class="btn btn-outline-primary me-2 mt-3 float-end">Nuevo sitio</a>
                  <a th:href="@{/admin/crearUsuario}" class="btn btn-outline-dark me-2 mt-3 float-end" data-bs-toggle="modal" data-bs-target="#prueba">Añadir campo</a>

                  <!-- MODAL -->
                  <div class="modal fade" id="prueba" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir nuevo campo</h1>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="descripcion">Nombre del campo:</label>
                            <input type="text" class="form-control" name="descripcion" id="descripcion">
                          </div>
                          <div class="input-group mb-3">
                            <label for="consola">Formato del campo:</label>
                            <div class="col-12">
                              <select name="consola" id="consola" class="form-control">
                                <option value="Cargo1">Boolean</option>
                                <option value="Cargo2">String</option>
                                <option value="Cargo3">Int</option>
                                <option value="Cargo4">Double</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-outline-primary">Añadir</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <h5 class="card-title">Lista de sitios</h5>
                </div>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Departamento</th>
                    <th scope="col">Provincia</th>
                    <th scope="col">Distrito</th>
                    <th scope="col">Acciones</th>
                    <th scope="col">Tipo de Zona</th>
                    <th scope="col">Tipo de Sitio</th>
                  </tr>
                  </thead>
                  <tbody>

                  <tr th:each="sitio, info : ${listaSitio}">
                    <th scope="row" th:text="${info.index+1}">1</th>
                    <td th:text="${sitio.departamento}">Provincia - Distrito</td>
                    <td th:text="${sitio.provincia}">Provincia - Distrito</td>
                    <td th:text="${sitio.distrito}">Provincia - Distrito</td>
                    <td th:text="${sitio.tipoZona == 0 ? 'urbana' : 'rural'}"></td>
                    <td th:text="${sitio.tipo== 0 ? 'Móvil' : 'fijo'}"></td>

                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <div class="dropdown">
                          <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-plus-square"></i>
                          </button>
                          <ul class="dropdown-menu">
                            <li><a th:href="@{'/admin/editarSitio?id=' + ${sitio.idSitios}}" class="dropdown-item btn btn-outline-primary me-2">Editar</a></li>
                            <li><button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Eliminar</button></li>
                            <li><a th:href="@{'/admin/verSitio?id=' + ${sitio.idSitios}}" class="dropdown-item btn btn-outline-dark me-2">Visualizar</a></li>
                          </ul>
                        </div>
                      </div>
                      <!-- MODAL -->
                      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="staticBackdropLabel">Adventencia</h1>
                            </div>
                            <div class="modal-body">
                              <h3>¿Está seguro de eliminar el sitio?</h3>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-outline-primary">Confirmar</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
                <!-- End Table with stripped rows -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>