<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Perfil')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('supervisor')"><!-- End Header --></header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuSupervisor :: menu('detallesCuadrilla')">
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Detalles</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/supervisor/listaCuadrillas}">Lista Cuadrillas</a></li>
                <li class="breadcrumb-item active">Perfil</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">

                <div class="card">
                    <div class="card-body pt-5 d-flex flex-column align-items-center">
                        <img th:src="@{'/assets/img/' + detalle.foto}" alt="Profile" width="320" height="325">

                        <br>
                        <h2 style="color: #095444">Sup. Creador</h2>
                        <br>
                        <h3 th:text="${detalle.supervisor}"></h3>
                    </div>
                </div>
            </div>

            <div class="col-xl-8">

                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <ul class="nav nav-tabs nav-tabs-bordered">

                            <li class="nav-item">
                                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Informacion</button>
                            </li>

                            <li class="nav-item">
                                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Integrantes</button>
                            </li>


                        </ul>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <h5 class="card-title" style="color: #095444">Sobre La Cuadrilla:</h5>
                                <p class="small fst-italic">Cuadrilla en el rubro de Telecomunicaciones, soy egresado de la Universidad "Universidad". Con 6 años de experiencia en diferentes empresas de telecomunicaciones.</p>

                                <h5 class="card-title" style="color: #095444">Detalles de la Cuadrilla</h5>

                                <div class="row">
                                    <div class="col-lg-4 col-md-8 label ">Numero de Cuadrilla:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${detalle.idCuadrilla}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Tecnico Lider:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${detalle.lider}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">fecha de ultimo trabajo:</div>
                                    <div class="col-lg-8 col-md-7">
                                        <span th:text="${#dates.format(detalle.ultimo, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Numero de trabajos asignados:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${detalle.trabajos}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Ultimo tipo de ticket atendido:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${detalle.tipo}">Ticket de Instalacion</div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Fecha de Formación:</div>
                                    <div class="col-lg-8 col-md-7">
                                        <span th:text="${#dates.format(detalle.fechaCreacion, 'yyyy-MM-dd')}"></span>
                                    </div>
                                </div>


                            </div>

                            <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3 integrante-item">
                                            <div>
                                                <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="img-fluid">
                                                <br>
                                                <br>
                                                <div th:text="'Tec. ' + ${tecnicoLider.nombre} + ${tecnicoLider.apellido}"></div>
                                                <br>
                                            </div>
                                        </div>
                                        <div class="col-md-2 integrante-item2" th:each="integrante : ${integrantes}" th:if="${tecnicoLider.id!=integrante.id}">
                                            <div>
                                                <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="img-fluid">
                                                <br>
                                                <br>
                                                <div th:text="'Tec. ' + ${integrante.nombre} + ${integrante.apellido}"></div>
                                                <br>
                                            </div>
                                        </div>
                                        <style>

                                            .integrante-item {
                                                margin-left: 40%; /* Ajusta este valor según tu preferencia */
                                                margin-right: 30%; /* Ajusta este valor según tu preferencia */
                                            }
                                        </style>
                                        <style>

                                            .integrante-item2 {
                                                margin-left: 5%; /* Ajusta este valor según tu preferencia */
                                                margin-right: 3%; /* Ajusta este valor según tu preferencia */
                                            }
                                        </style>

                                    </div>
                                    <div class="pt-2">
                                        <style>
                                            .btn-primary.btn-sm i {
                                                color: #fff;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <h2 style="color: #095444">Tickets Cerrados</h2>
    <br>
    <section class="section">
        <div class="row">
            <div class="col-lg-6" th:each="cerrados, info: ${listaTicketsCerradosPorCuadrilla}">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title" th:text="'Ticket ' + ${info.index + 1}"></h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Fecha Apertura:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.fechaCreacion}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Fecha Cierre:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.fechaCierre}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Usuario:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.usuarioSolicitante}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Provincia:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.idSitios.provincia}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Distrito:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.idSitios.distrito}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Tipo Zona:</b></div>
                                <div class="col-lg-9 col-md-8" th:text="${cerrados.idSitios.tipoZona}"></div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-3 col-md-4 label" style="color: #808080"><b>Prioridad:</b></div>
                                <div class="col-lg-9 col-md-8" style="color: #D01515" th:if="${cerrados.prioridad eq 'Urgente'}"><span class="badge text-bg-danger" th:text="${cerrados.prioridad}"></span></div>
                                <div class="col-lg-9 col-md-8" style="color: #3498DB" th:if="${cerrados.prioridad eq 'Baja prioridad'}"><span class="badge text-bg-info" th:text="${cerrados.prioridad}"></span></div>
                                <div class="col-lg-9 col-md-8" style="color: #FFC300" th:if="${cerrados.prioridad eq 'Hacer'}"><span class="badge text-bg-warning" th:text="${cerrados.prioridad}"></span></div>
                                <div class="col-lg-9 col-md-8" style="color: #4CAF50" th:if="${cerrados.prioridad eq 'No critico'}"><span class="badge text-bg-success" th:text="${cerrados.prioridad}"></span></div>
                            </div>
                            <br>
                            <img class="ticket-image" th:src="@{https://www.tecnologia-informatica.com/wp-content/uploads/2018/09/mantenimiento-computadoras-16.jpeg}" alt="Imagen del ticket" style="width: 100px; height: auto; float: right; cursor: pointer;">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script th:inline="javascript">

        document.addEventListener('DOMContentLoaded', function() {
            var images = document.querySelectorAll(".ticket-image");


            images.forEach(function(image) {
                var originalWidth = image.width;
                var originalHeight = image.height;

                image.addEventListener("click", function() {
                    if (image.style.width === "100%" || image.style.width === "") {

                        image.style.width = originalWidth + "px";
                        image.style.height = originalHeight + "px";
                    } else {

                        image.style.width = "100%";
                        image.style.height = "auto";
                    }
                });
            });
        });
    </script>



</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>