<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Tickets')"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('supervisor')"><!-- End Header --></header><!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuSupervisor :: menu('listaTicket')">
</aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="container">

        <div class="alert alert-success" role="alert" th:if="${mensaje!=null}" th:text="${mensaje}">
            abc
        </div>

        <div class="alert alert-success" role="alert" th:if="${abc!=null}" th:text="${abc}">
            abc
        </div>

        <div class="alert alert-success" role="alert" th:if="${yum!=null}" th:text="${yum}">
            yum
        </div>

        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Lista Tickets</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        <div class="card-body table-responsive">
                            <div class="container">
                                <h5 class="card-title">Historial de Tickets</h5>
                            </div>
                            <!-- Table with stripped rows -->
                            <table class="table datatable-borderless datatable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Usuario Solicitante</th>
                                    <th scope="col">Cuadrilla Asignada</th>
<!--                                    <th scope="col">Líder de cuadrilla</th>-->
                                    <th scope="col">Fecha de Apertura</th>
                                    <th scope="col">Prioridad</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Ver más</th>
                                </tr>
                                </thead>
                                <tbody>

                                    <tr th:each="tickets, info: ${listaTickets}">
                                            <td th:text="${info.index + 1}"></td>
                                            <td th:text="${tickets.usuarioSolicitante}"></td>
                                            <td th:if="${tickets.idCuadrillas } == null">Cuadrilla no asignada</td>
                                            <td th:unless="${tickets.idCuadrillas} == null" th:text="${tickets.idCuadrillas}"></td>
<!--                                            <td th:if="${tickets.nombreCompleto } == null">Cuadrilla no asignada</td>-->
<!--                                            <td th:unless="${tickets.nombreCompleto} == null" th:text="${tickets.nombreCompleto}"></td>-->

                                            <td th:text="${tickets.fechaCreacion}"></td>

                                            <!--prioridades con botones estilos-->
                                            <td th:if="${tickets.prioridad eq 'Hacer'}">
                                                <span class="badge text-bg-warning" th:text="${tickets.prioridad}"></span>
                                            </td>
                                            <td th:if="${tickets.prioridad eq 'Baja prioridad'}">
                                                <span class="badge text-bg-info" th:text="${tickets.prioridad}"></span>
                                            </td>
                                            <td th:if="${tickets.prioridad eq 'Urgente'}">
                                                <span class="badge text-bg-danger" th:text="${tickets.prioridad}"></span>
                                            </td>
                                            <td th:if="${tickets.prioridad eq 'No critico'}">
                                                <span class="badge text-bg-success" th:text="${tickets.prioridad}"></span>
                                            </td>

                                            <!--estados segun flujo del proyecto on estilos-->
                                            <td th:if="${tickets.estado==7}">
                                                <span class="badge text-bg-danger">Cerrado</span>
                                            </td>
                                            <td th:if="${tickets.estado==6}">
                                                <span class="badge text-bg-warning">Por validar</span>
                                            </td>
                                            <td th:if="${tickets.estado==2}">
                                                <span class="badge text-bg-primary">Nuevo</span>
                                            </td>
                                            <td th:if="${tickets.estado==3 || tickets.estado==4 || tickets.estado==5}">
                                                <span class="badge text-bg-success">En progreso</span>
                                            </td>

                                            <td th:if="${tickets.estado!=2 && tickets.estado!=7 && tickets.estado!=6}"><center><a type="button" class="btn btn-light btn-sm" th:href="@{'/supervisor/ticketProceso?id=' + ${tickets.idTickets}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </a></center></td>

                                            <td th:if="${tickets.estado==2}"><center><a type="button" class="btn btn-light btn-sm" th:href="@{'/supervisor/ticketNuevo?id=' + ${tickets.idTickets}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </a></center></td>

                                            <td th:if="${tickets.estado==7 || tickets.estado==6}"><center><a type="button" class="btn btn-light btn-sm" th:href="@{'/supervisor/ticketCerrado?id=' + ${tickets.idTickets}}">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                                                    <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                                                </svg>
                                            </a></center></td>
                                    </tr>

                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </div>
</main>
<!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>