<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Mapa de Tickets')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('supervisor')"><!-- End Header --></header><!-- End Header -->
<style>
    #map { height: 98vh; width: 100hw; }
    select {
        width: 30%;
        font-size: 0.8rem
    }
</style>

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuSupervisor :: menu">
</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Mapa</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/supervisor/}">Home</a></li>
                <li class="breadcrumb-item active">Mapa</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <center>
                        <div class="card-body">
                            <h5 class="card-title">Distribucion</h5>

                            <table>
                                <tr>
                                    <td style="padding-right: 20px;">
                                        <p style="color: red">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                            </svg> <b style="color:black;" class="fw-light">Tickets Por Abrir</b>
                                        </p>
                                    </td>
                                    <td style="padding-left: 20px;">
                                        <p style="color: #F0E108">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                            </svg>
                                            <b style="color: black;" class="fw-light">Tickets Abiertos</b>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </center>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3">
                        <div id="select-location">
                            <select name="location" id="location">
                                <option value="-1">Selecciona uno...</option>
                                <option th:each="sitio :${sitioList}"
                                        th:value="${sitio.latitud + ',' + sitio.longitud}" th:text="${sitio.distrito}">Empire State Building</option>
                                <!--<option value="40.689167, -74.044444">Estatua de la Libertad</option>
                                <option value="51.507,0.1275">Londres</option>-->
                            </select>
                        </div>
                        <br>
                        <div id="map">
                        </div>
                        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                        <script>
                            let map = L.map('map').fitWorld();

                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution:
                                    '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            document.getElementById('select-location').addEventListener('change', function(e){
                                let coords = e.target.value.split(",");
                                L.marker(coords).addTo(map)
                                map.flyTo(coords, 18);
                            });
                        </script>
                        <!-- MAPA -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>