<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Mapa de Tickets')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('supervisor')"><!-- End Header --></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link collapse" data-bs-target="#tables-nav" th:href="@{/supervisor/}">
                <i class="bi bi-layout-text-window-reverse"></i><span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-card-list"></i><span>Tickets</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a th:href="@{/supervisor/listaTickets}">
                        <i class="bi bi-circle"></i><span>Ver Tickets</span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/supervisor/dashboard}">
                        <i class="bi bi-circle"></i><span>Dashboard</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Tables Nav -->
        <!-- End Charts Nav -->


        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/supervisor/listaCuadrillas}">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Cuadrillas</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" th:href="@{/supervisor/mapaTickets}">
                <i class="bi bi-grid"></i>
                <span>Mapa</span>
            </a>
        </li>

        <!-- End Icons Nav -->

        <!-- End Components Nav -->

    </ul>

</aside><!-- End Sidebar-->

<main id="main" class="main">

    <div class="pagetitle">
        <h1>Mapa</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/supervisor/}">Home</a></li>
                <li class="breadcrumb-item active">Mapa</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <center>
                        <div class="card-body">
                            <h5 class="card-title">Distribucion</h5>

                            <table>
                                <tr>
                                    <td style="padding-right: 20px;">
                                        <p style="color: red">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                            </svg> <b style="color:black;" class="fw-light">Tickets Por Abrir</b>
                                        </p>
                                    </td>
                                    <td style="padding-left: 20px;">
                                        <p style="color: #F0E108">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="blue" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                                                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
                                            </svg>
                                            <b style="color: black;" class="fw-light">Tickets Abiertos</b>
                                        </p>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </center>
                </div>
            </div>

            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body pt-3" style="text-align: center; display: flex; flex-direction: column; align-items: center;">
                        <h5 class="card-title" style="color: #095444">Ubicacion</h5>
                        <div id="mi_mapa" style="width: 1200px; height: 500px;"></div>
                        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                        <script>
                            let map = L.map('mi_mapa').setView([-12.06802,-77.03462],18)
                            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);
                            L.marker([-12.06802,-77.03462]).addTo(map).bindPopup('Por Abrir').openPopup();
                            L.marker([-12.06224,-77.03417]).addTo(map).bindPopup('Por Abrir').openPopup();
                            L.marker([-12.06086,-77.03600]).addTo(map).bindPopup('Abierto').openPopup();
                            L.marker([-12.05177,-77.03461]).addTo(map).bindPopup('Abierto').openPopup();
                            L.marker([-12.05238,-77.02725]).addTo(map).bindPopup('Abierto').openPopup();
                            L.marker([-12.06176,-77.04292]).addTo(map).bindPopup('Abierto').openPopup();
                            L.marker([-12.06180,-77.02531]).addTo(map).bindPopup('Abierto').openPopup();
                        </script>
                        <!-- MAPA -->
                    </div>
                </div>
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>