<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Ticket Cerrado')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('supervisor')"><!-- End Header --></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuSupervisor :: menu('ticketCerrado')">
</aside><!-- End Sidebar-->

<main id="main" class="main">

  <div class="pagetitle">
    <h1>Detalles</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/supervisor/listaTickets}">Lista Tickets</a></li>
        <li class="breadcrumb-item active">Detalles Ticket</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile" th:object="${tickets}">
    <div class="row">
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->
            <div class="tab-content pt-2">
              <div class="tab-pane fade show active profile-overview" id="datos-overview">
                <h5 class="card-title" style="color: #095444">Datos generales del Ticket</h5>
                <br>
                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Prioridad:</div>
                  <div class="col-lg-8 col-md-7" style="color: #D01515" th:if="${tickets.prioridad eq 'Urgente'}"><b th:text="${tickets.prioridad}"></b></div>
                  <div class="col-lg-8 col-md-7" style="color: #3498DB" th:if="${tickets.prioridad eq 'Baja prioridad'}"><b th:text="${tickets.prioridad}"></b></div>
                  <div class="col-lg-8 col-md-7" style="color: #FFC300" th:if="${tickets.prioridad eq 'Hacer'}"><b th:text="${tickets.prioridad}"></b></div>
                  <div class="col-lg-8 col-md-7" style="color: #4CAF50" th:if="${tickets.prioridad eq 'No critico'}"><b th:text="${tickets.prioridad}"></b></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Nombre de Usuario:</div>
                  <div class="col-lg-8 col-md-7" th:text="${tickets.usuarioSolicitante}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Fecha de apertura:</div>
                  <div class="col-lg-8 col-md-7" th:text="${tickets.fechaCreacion}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Fecha de vencimiento:</div>
                  <div class="col-lg-8 col-md-7" th:text="${tickets.fechaCierre}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Servicio Relacionado:</div>
                  <div class="col-lg-8 col-md-7" th:text="${tickets.idTipoTicket.nombreTipoTicket}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Cuadrilla Asignada:</div>
                  <div class="col-lg-8 col-md-7" th:text="'Cuadrilla ' + ${tickets.idCuadrilla.idCuadrillas}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Tecnico Lider:</div>
                  <div class="col-lg-8 col-md-7" th:text="'Tec. ' + ${tecnicoLider.nombre} + ${tecnicoLider.apellido}"></div>
                </div>

                <div class="row">
                  <div class="col-lg-4 col-md-5 label">Descripcion:</div>
                  <div class="col-lg-8 col-md-7" th:text="${tickets.descripcion}"></div>
                </div>

                <div class="row" th:if="${tickets.estado==7}">
                  <div class="col-lg-4 col-md-5 label">Estado:</div>
                  <div class="col-lg-8 col-md-7"><span class="badge text-bg-danger">Cerrado</span></div>
                </div>

                <form th:action="@{/supervisor/actualizarEstado}" class="search-form" method="POST">
                  <input th:value="${tickets.idTickets}" name="idTickets" type="hidden" />

                  <div class="row" th:if="${tickets.estado==6}">
                    <div class="col-lg-4 col-md-5 label">Estado:</div>
                    <div class="col-lg-4 col-md-5 label">
                      <select class="form-select small select" aria-label="Default select example" name="cambioEstado">
                        <option value="Progreso">Progreso</option>
                        <option value="Cerrado">Cerrado</option>
                      </select>
                    </div>
                  </div>

                  <center><br>
                    <a type="button" class="btn btn-outline-success" th:href="@{'/supervisor/formulario?id=' + ${tickets.idTickets}}">Formulario</a>
                    <a type="button" class="btn btn-outline-warning" th:href="@{'/supervisor/comentarios?id=' + ${tickets.idTickets}}">comentarios</a>
                    <button type="submit" class="btn btn-outline-danger" th:if="${tickets.estado==6}">Guardar</button>
                  </center>
                </form>


              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="card">
          <div class="card-body pt-3">
            <div class="col-md-8 col-lg-9">
              <h5 class="card-title" style="color: #095444">Formulario:</h5>
              <img th:src="@{|/image/${tickets.idSitios.archivo.idArchivos}|}" alt="Profile" style="max-width: 100%; height: auto; display: block; margin: 0 auto; max-height: 70vh;"
                   onerror="this.onerror=null; this.src='https://www.tecnologia-informatica.com/wp-content/uploads/2018/09/mantenimiento-computadoras-16.jpeg'">
              <br>
            </div>
            <div class="tab-content pt-2">

              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title" style="color: #095444">Comentario:</h5>
                <p class="small fst-italic" th:text="${comentario != null ? comentario : 'No hay comentario acerca del ticket'}">
                  Se completó con éxito la instalación de los gabinetes. Al finalizar la instalación se realizó la prueba de conexión correspondiente. Funciona. Cliente satisfecho.
                </p>
              </div>


              <div class="tab-pane fade show active profile-overview" id="profile-overview1">
                <h5 class="card-title" style="color: #095444">Tiempo transcurrido: </h5>
                <p class="small fst-italic" th:text="${tiempoTranscurrido.hours} + ' hrs : ' + ${tiempoTranscurrido.minutes} + ' min : ' + ${tiempoTranscurrido.seconds} + ' seg'"></p>

              </div>
            </div><!-- End Bordered Tabs -->

          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-12">
      <div class="card">
        <div class="card-body pt-3">
          <h5 class="card-title" style="color: #095444; text-align: center; ">Ubicacion</h5>

          <style>
            #map { height: 50vh; width: 100hw; }
            select {
              width: 30%;
              font-size: 0.8rem
            }

          </style>
          <div id="map"></div>
          <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
          <script>
            var latitud = [[${tickets.idSitios.latitud}]];
            var longitud = [[${tickets.idSitios.longitud}]];
            let map = L.map('map').setView([latitud,longitud],18)
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
            }).addTo(map);
            L.marker([latitud,longitud]).addTo(map).bindPopup('Sitio').openPopup();
          </script>

          <script>
            function centrarMapaEnCoordenadasIniciales() {
              map.setView([latitud, longitud], 18);
            }
            var botonCentrar = L.control({ position: 'bottomright' });

            botonCentrar.onAdd = function (map) {
              var container = L.DomUtil.create('div', 'boton-centrar');
              var button = L.DomUtil.create('button', 'btn btn-primary', container);
              button.type = 'button';


              var icono = L.DomUtil.create('i', 'bx bx-collapse', button);


              L.DomEvent.on(button, 'click', centrarMapaEnCoordenadasIniciales);
              return container;
            };
            botonCentrar.addTo(map);
          </script>

          <div class="mb-3" style="margin-top: 25px;"> <!-- Agrega un margen en la parte superior -->
            <input type="text" class="form-control" th:value="'Direccion: ' + ${tickets.idSitios.departamento} +', '+ ${tickets.idSitios.provincia} +', '+ ${tickets.idSitios.distrito}" disabled>
          </div>
          <!-- MAPA -->
        </div>
      </div>
    </div>

    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>