<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Analista de Despliegue')"></head>


<body>

<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('Analista de Despliegue')"><!-- End Header --></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/sidebarDespliegue :: #sidebar">
</aside><!-- End Sidebar-->
  <main id="main" class="main">
    <div class="container">

      <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/analistaDespliegue/listaSitio}">Lista de Sitios</a></li>
            <li class="breadcrumb-item"><a th:href="@{/analistaDespliegue/editarSitio}">Editar Sitio</a></li>
            <li class="breadcrumb-item active">Lista de equipos</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card">

              <div class="card-body">
                <div class="container">


                  <!-- MODAL DE AÑADIR NUEVO CAMPO-->
                  <div class="modal fade" id="nuevo" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Añadir nuevo campo</h1>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="descripcion">Nombre del campo:</label>
                            <input type="text" class="form-control" name="descripcion" id="descripcion">
                          </div>
                          <div class="input-group mb-3">
                            <label for="consola">Formato del campo:</label>
                            <div class="col-12">
                              <select name="consola" id="consola" class="form-control">
                                <option value="Cargo1">Boolean</option>
                                <option value="Cargo2">String</option>
                                <option value="Cargo3">Int</option>
                                <option value="Cargo4">Double</option>
                              </select>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                          <button type="button" class="btn btn-outline-success">Añadir</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- MODAL DE ELIMINAR CAMPO-->
                  <div class="modal fade" id="eliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Adventencia</h1>
                        </div>
                        <div class="modal-body">
                          <h3>¿Está seguro de eliminar un campo?</h3>
                          <p>Por el momento dicha funcionalidad no se encuentra disponible</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                        </div>
                      </div>
                    </div>
                  </div>


                  <h5 class="card-title">Equipos en general</h5>
                </div>
                <!-- Table with stripped rows -->
                <table class="table datatable">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo de equipo</th>
                    <th scope="col">Tipo de sitio de implementación </th>
                    <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Switch</td>
                    <td>Sitio de telefonía Móvil</td>

                    <td>
                      <div class="d-flex justify-content-center align-items-center">
                        <a th:href="@{/analistaDespliegue/editarSitio}" class="btn btn-outline-primary me-2">Agregar</a>
                        <a th:href="@{/analistaDespliegue/verEquipo}" class="btn btn-outline-dark me-2">Visualizar</a>
                        <!-- MODAL -->
                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">Adventencia</h1>
                              </div>
                              <div class="modal-body">
                                <h3>¿Está seguro de eliminar el equipo?</h3>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" class="btn btn-outline-primary">Confirmar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>


                  </tbody>
                </table>
                <!-- End Table with stripped rows -->

              </div>
            </div>

          </div>
        </div>
      </section>

    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="Fragmentos/footer :: footer"></footer>
  <!-- End Footer -->>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>

</body>

</html>