<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Nexus</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link th:href="@{/assets/img/favicon.png}" rel="icon">
  <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
  <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
  <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link th:href="@{/assets/css/style.css}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
  <style>
  #mi_mapa{
    min-height: 200px;
  }
</style>
</head>


<body>

<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('Analista de Despliegue')"><!-- End Header --></header><!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuDespliegue :: menu('editarSitio')">
</aside><!-- End Sidebar-->

  <main id="main" class="main">
    <div class="container">


    <div class="pagetitle">
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/analistaDespliegue/listaSitio}">Lista de sitios</a></li>
          <li class="breadcrumb-item active">Editar sitio</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
      <section class="section dashboard">
        <div class="row">
          <div class="rounded p-5" style="background-color: #FFFFFF;">
            <div class="pagetitle">
              <h1 class="card-title">Editar de sitio</h1>
            </div>
            <form method="POST" th:action="@{/analistaDespliegue/saveSitio}" enctype="multipart/form-data" th:object="${sitio}" >
              <div class="row">
                <div class="col-md-6">
                  <input type="hidden" class="form-control" th:field="*{idSitios}">
                  <input type="hidden" class="form-control" th:field="*{archivo.idArchivos}">
                  <div class="mb-3">
                    <label class="form-label">Departamento:</label>
                    <input th:field="*{departamento}" type="text" th:class="${#fields.hasErrors('departamento')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Provincia:</label>
                    <input th:field="*{provincia}" type="text" th:class="${#fields.hasErrors('provincia')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('provincia')}" th:errors="*{provincia}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Distrito:</label>
                    <input th:field="*{distrito}" type="text" th:class="${#fields.hasErrors('distrito')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('distrito')}" th:errors="*{distrito}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Ubigeo:</label>
                    <input th:field="*{ubigeo}" type="number" th:class="${#fields.hasErrors('ubigeo')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('ubigeo')}" th:errors="*{ubigeo}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Latitud:</label>
                    <input type="number" step="0.0000001" th:field="*{latitud}" th:class="${#fields.hasErrors('latitud')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('latitud')}" th:errors="*{latitud}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label">Longitud:</label>
                    <input type="number" step="0.0000001" th:field="*{longitud}" th:class="${#fields.hasErrors('longitud')?'form-control is-invalid':'form-control'}"/>
                    <div class="invalid-feedback"
                         th:if="${#fields.hasErrors('longitud')}" th:errors="*{longitud}">
                      Mensaje de error de nombre
                    </div>
                  </div>

                  <div class="mb-3">
                    <label class="form-label" >Tipo de Zona</label>
                    <select class="form-select" th:field="*{tipoZona}">
                      <option value="Urbana">Urbana</option>
                      <option value="Rural">Rural</option>
                    </select>
                  </div>


                  <div class="mb-3">
                    <label class="form-label">Tipo de Sitio:</label>
                    <select th:field="*{tipo}" class="form-control">
                      <option value="Movil" >Móvil</option>
                      <option value="Fijo">Fijo</option>
                    </select>
                  </div>
                </div>
                <br><br>
                <div class="col-md-6">
                  <div class="mb-3">
                    <label for="imagenSubida" class="form-label">Foto de Sitio:</label>
                    <div class="card mx-auto" style="width: 250px; max-height: 250px">
                      <img id="imgPreview" th:src="@{|image/${sitio.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                    </div>
                    <input class="form-control" type="file" name="imagenSubida" id="imagenSubida"
                           accept="image/*" onchange="previewImage(event, '#imgPreview')">
                  </div>
                  <div class="mb-3">

                    <label >Ubicación del sitio:</label>
                    <div class="d-flex justify-content-center align-items-center">
                      <div class="card-body pt-3">
                        <div id="mi_mapa" ></div>
                        <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                        <script th:inline="javascript">
                          var latitud = [[${sitio.latitud}]];
                          var longitud = [[${sitio.longitud}]];
                          let map = L.map('mi_mapa').setView([latitud,longitud],18)
                          L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                          }).addTo(map);
                          L.marker([latitud,longitud]).addTo(map).bindPopup('Sitio').openPopup();

                        </script>
                        <!-- MAPA -->

                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div>
                <table class="table">
                  <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Tipo de equipo</th>
                    <th scope="col">Marca </th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Acciones</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr th:each="equipo, info : ${listaEquipos}">
                    <td th:text = "${info.index + 1}" >  </td>
                    <td th:text="${equipo.tipoequipo.nombreTipo}"></td>
                    <td th:text="${equipo.marca}">Marca</td>
                    <td th:text="${equipo.modelo}">Modelo</td>
                    <td><a type="button" class="btn btn-outline-dark" th:href="@{'/analistaDespliegue/verEquipo?id=' + ${equipo.idEquipos}}">Ver</a></td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <button type="button" class="btn btn-outline-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                  <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"></path>
                  <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"></path>
                </svg>
                Descargar csv
              </button>
              <a type="submit" class="btn btn-outline-success" th:href="@{'/analistaDespliegue/listaEquipo?id=' + ${sitio.idSitios}}">Ver todos los equipos</a>
              <br>
              <br>
              <div>
                <a  th:href="@{'/analistaDespliegue/listaSitio'}" class="btn btn-outline-danger " >Cancelar</a>
                <button  type="submit" class="btn btn-outline-primary " >Aceptar</button>
              </div>

            </form>
          </div>

        </div>
      </section>

    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer th:replace="Fragmentos/footer :: footer"></footer>


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
  <script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
  <script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
  <script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
  <script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
  <script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
  <script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

  <!-- Template Main JS File -->
  <script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/foto.js}"></script>

</body>

</html>