<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Registro</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
  <style>
    img{
      width: 100%;
    }
    body {
      background-size: cover;
      background-repeat: no-repeat;
      margin: 0;
      height: 135vh;
      --opacidad-negro: 0.5;
      background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url(https://images.unsplash.com/photo-1533664488202-6af66d26c44a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8dGVsZWNvbXVuaWNhY2lvbnxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    }
  </style>
</head>

<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3" style="background-color: #16262D79">
                <div class="card-body">
                  <div class="d-flex justify-content-center py-4">
                    <a href="index.html" class="logo d-flex align-items-center w-auto">
                      <img src="assets/img/logo.png" alt="">
                      <span class="d-none d-lg-block">Nexus</span>
                    </a>
                  </div><!-- End Logo -->
                  <div class="pb-2">
                    <h5 class="card-title text-center pb-0 fs-4" style="color:white">Registrar Usuario</h5>
                    <p class="text-center small" style="color:white">Ingrese tus datos personaes para crear la cuenta</p>
                  </div>

                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-12">
                      <label for="yourName" class="form-label" style="color:white">Nombre:</label>
                      <input type="text" name="name" class="form-control" id="yourName" required>
                      <div class="invalid-feedback">Por favor, ingresa tu nombre</div>
                    </div>

                    <div class="col-12">
                      <label for="yourLastName" class="form-label" style="color:white">Apellido:</label>
                      <input type="text" name="name" class="form-control" id="yourLastName" required>
                      <div class="invalid-feedback">Por favor, ingresa tu nombre</div>
                    </div>

                    <div class="col-12">
                      <label for="yourDni" class="form-label" style="color:white">DNI:</label>
                      <input type="number" name="name" class="form-control" id="yourDni" required>
                      <div class="invalid-feedback">Por favor, ingresa tu DNI</div>
                    </div>

                    <div class="col-12">
                      <label for="yourEmail" class="form-label" style="color:white">Correo:</label>
                      <input type="email" name="email" class="form-control" id="yourEmail" required>
                      <div class="invalid-feedback">Por favor ingresa un correo válido</div>
                    </div>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label" style="color:white">Empresa:</label>
                      <div class="input-group has-validation">
                        <input type="text" name="username" class="form-control" id="yourUsername" required>
                      </div>
                    </div>
                    <div class="col-12">
                        <button class="btn w-100" type="button" data-bs-toggle="modal" style="background-color: #C78728" data-bs-target="#exampleModal">Enviar</button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Datos recibidos con éxito</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              La central se contactará pronto contigo brindandote tu contraseña.
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <a th:href="@{/login}" type="button" class="btn btn-danger">Guardar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn w-100" type="button" data-bs-toggle="modal" style="background-color: #C78728" data-bs-target="#exampleModal">Enviar</button>
                      <!-- Modal -->
                      <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel2">ERROR</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              El correo ingresado no está registrado en el sistema
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <a th:href="@{/registro}" type="button" class="btn btn-danger">Regresar</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <center><div class="col-12">
                      <p class="small mb-0" style="color:white">¿Ya tienes una cuenta? <a th:href="@{/login}">Ingresar</a></p>
                    </div></center>
                  </form>

                </div>
              </div>

              <div class="credits" style="font-size: x-small;color:#dedede">
                Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#dedede"> nexus.empresatcom@gmail.com</a>
              </div>

            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/chart.js/chart.umd.js"></script>
  <script src="assets/vendor/echarts/echarts.min.js"></script>
  <script src="assets/vendor/quill/quill.min.js"></script>
  <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>