@PostMapping("/savePerfil")
public String savePerfil(@RequestParam("imagenSubida") MultipartFile file,
@ModelAttribute("usuario") @Valid Usuario usuario, BindingResult bindingResult,
Model model,
RedirectAttributes attr, HttpSession httpSession){
List<Ticket> listaT = ticketRepository.findAll();
    model.addAttribute("listaTicket", listaT);
    // ESTO SE AÑADIO DE BARD
    //session.setAttribute("usuario", usuario);

    if(usuario.getCargo() == null || usuario.getCargo().getIdCargos() == null || usuario.getCargo().getIdCargos() == -1){
    model.addAttribute("msgCargo", "Escoger un cargo");
    model.addAttribute("listaEmpresa", empresaRepository.findAll());
    model.addAttribute("listaCargo", cargoRepository.findAll());

        if (usuario.getId() == null) {
        return "Tecnico/tecnico";
        } else {
        return "Tecnico/perfilEditar";
        }
    }
    if(usuario.getEmpresa() == null || usuario.getEmpresa().getIdEmpresas() == null || usuario.getEmpresa().getIdEmpresas() == -1){
    model.addAttribute("msgEmpresa", "Escoger una empresa");
    model.addAttribute("listaEmpresa", empresaRepository.findAll());
    model.addAttribute("listaCargo", cargoRepository.findAll());
    if (usuario.getId() == null) {
    return "Tecnico/tecnico";
    } else {
    return "Tecnico/perfilEditar";
    }
    }

    if (file.getSize() > 0 && !file.getContentType().startsWith("image/") && !file.isEmpty()) {
    model.addAttribute("msgImagen", "El archivo subido no es una imagen válida");
    if (usuario.getId() == null) {
    return "Tecnico/perfilTecnico";
    } else {
    return "Tecnico/perfilEditar";
    }
    }

    String fileName1 = file.getOriginalFilename();
    /*Validación para evitar 2 puntos*/
    if (fileName1.contains("..") && !file.isEmpty()) {
    model.addAttribute("msgImagen", "No se permiten '..' en el archivo ");
    if (usuario.getId() == null) {
    return "Tecnico/perfilTecnico";
    } else {
    return "Tecnico/perfilEditar";
    }
    }

    /*Validación para archivos grande (NO FUNCIONA :C)*/
    int maxFileSize = 10485760;
    if (file.getSize() > maxFileSize && !file.isEmpty()) {
    System.out.println(file.getSize());
    model.addAttribute("msgImagen", "El archivo subido excede el tamaño máximo permitido (10MB).");
    if (usuario.getId() == null) {
    return "Tecnico/perfilTecnico";
    } else {
    return "redirect:/tecnico/perfilEditar";
    }
    }


    if (!bindingResult.hasErrors()) { //si no hay errores, se realiza el flujo normal
    if (usuario.getArchivo() == null) {
    usuario.setArchivo(new Archivo());
    }

    try{
    /*Si file contiene algo --> Guardarlo*/
        if(!file.isEmpty()){
            // Obtenemos el nombre del archivo
            String fileName = file.getOriginalFilename();
            String extension = "";
            int i = fileName.lastIndexOf('.');
                if (i > 0) {
                extension = fileName.substring(i+1);
                }
            Archivo archivo = usuario.getArchivo();
            archivo.setNombre(fileName);
            archivo.setTipo(1);
            archivo.setArchivo(file.getBytes());
            archivo.setContentType(file.getContentType());
            Archivo archivo1 = archivoRepository.save(archivo);
            String nombreArchivo = "archivo-"+archivo1.getIdArchivos()+"."+extension;
            archivo1.setNombre(nombreArchivo);
            archivoRepository.save(archivo1);
            uploadObject(archivo1);
            }
    if (usuario.getId() == null) {
    attr.addFlashAttribute("msg", "El usuario '" + usuario.getNombre() + " " + usuario.getApellido() + "' se ha creado exitosamente");
    } else {
    attr.addFlashAttribute("msg", "El usuario '" + usuario.getNombre() + " " + usuario.getApellido() + "' se ha actualizado exitosamente");
    }
    usuarioRepository.save(usuario);
    return "redirect:/tecnico/ticketasignado";

    } catch (IOException e) {
    throw new RuntimeException(e);
    }

    } else { //hay al menos 1 error
    model.addAttribute("listaEmpresa", empresaRepository.findAll());
    model.addAttribute("listaCargo", cargoRepository.findAll());
    if (usuario.getId() == null) {
    return "Tecnico/ticket_asignado";
    } else {
    return "Tecnico/perfilEditar";
    }
    }
    }