<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Comentarios Técnico</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <style>
        .card {
            border-radius: 30px;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        .comment-balloon {
            position: relative;
            background-color: #e5f1f6;
            padding: 10px;
            border-radius: 10px;
        }

        .comment-balloon:before {
            content: '';
            position: absolute;
            bottom: 100%;
            left: 20%;
            margin-left: -15px;
            border-width: 15px;
            border-style: solid;
            border-color: transparent transparent #e5f1f6 transparent;
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->

<header th:replace="Fragmentos/headerDos :: header('tecnico',${listaTicket}, ${cuadrilla})"></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu('comentarios')"></aside>

<main id="main" class="main">
    <div class="alert alert-success" role="alert" th:if="${error!=null}" th:text="${error}">
        abc
    </div>

    <div class="pagetitle">
        <h1>Comentarios del Ticket</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/tecnico/}">Home</a></li>
                <li class="breadcrumb-item active">Tickets Asignados</li>
                <li class="breadcrumb-item active">Datos del ticket</li>
                <li class="breadcrumb-item active">Comentarios</li>
            </ol>
        </nav>
    </div>

   <section class="section contact">
        <div class="row gy-4">
            <div class="col-xl-5">
                <div class="row">
                    <div class="col-lg-12">
                        <div th:each="comentarios: ${listComentarios}">
                            <div class="row">
                                <div class="col-lg-12">
                                    <table>
                                        <tr>
                                            <td>
                                                <img th:src="@{|/file/${session.usuario.archivo.getIdArchivos()}|}" alt="Profile" class="rounded-circle"
                                                     onerror="this.onerror=null; this.src='https://w7.pngwing.com/pngs/205/731/png-transparent-default-avatar-thumbnail.png'" height="45rem" width="45rem">
                                            </td>
                                            <td>
                                                <h4 th:text="${comentarios.comentarista.nombre} + ' ' + ${comentarios.comentarista.apellido}" style="font-weight: bold; color: #336419;"></h4>
                                            </td>
                                            <td style="color: rgba(0,0,0,0)">__________</td>
                                            <td style="align-items: end">
                                                <span th:text="${comentarios.fechaCreacion}"></span>   <span th:text="${comentarios.horaCreacion}"></span>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <p></p>
                            <div class="row comment-balloon card">
                                <div class="col-lg-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-quote" viewBox="0 0 16 16">
                                        <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"/>
                                    </svg>
                                </div>
                                <div class="col-lg-12">
                                    <p th:text="${comentarios.ticket.descripcion}" style="color: rgba(0,0,0,0.51)"></p>
                                    <p th:text="${comentarios.comentario}" style="font-size: 20px; color: black;"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-7">
                <div class="container p-4" style="background-color: white;">
                    <form th:action="@{/tecnico/subircomentarios}" method="POST">
                        <div class="row gy-4">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-lg-5 col-md-4 label "><b>Servicio:</b></div>
                                    <div class="col-lg-7 col-md-8" th:text="${ticket.idTipoTicket.nombreTipoTicket}">Mantenimiento de Gabinete</div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <input th:value="${session.usuario.id}" name="id" type="hidden"/>
                                <input th:value="${ticket.idTickets}" name="idTicket" type="hidden"/>
                                <textarea class="form-control" id="comentario" name="comentario" rows="6" placeholder="Deja tu comentario aquí..." required></textarea>
                            </div>

                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-outline-danger">Agregar</button>
                                <a type="button" class="btn btn-outline-success" th:href="@{'/tecnico/verTicket?id=' + ${ticket.idTickets}}">Atrás</a>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>

    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyCqO8iE9QpLE6aIe4CCU9F3/SqUlrJL+9" crossorigin="anonymous"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>