<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Datos del ticket</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">

</head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/headerDos :: header('tecnico',${listaTicket})"></header>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu(currentPage='datosProgreso')"></aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Inicio</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/Tecnico/tecnico}">Home</a></li>
                <li class="breadcrumb-item active">Ticket Asignado</li>
                <li class="breadcrumb-item active">Datos del ticket</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">
            <div class="rounded p-5" style="background-color: #FFFFFF;">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="pagetitle">
                            <h1 class="card-title" style="color: #095444">Datos generales del Ticket</h1>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Prioridad:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext fw-bold" style="color: #D01515" th:field="*{ticket.prioridad}" readonly>
                            </div>
                        </div>
                        <div class="mb-3 row" >
                            <label class="col-sm-4 form-label" >Nombre de Usuario:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" th:field="*{ticket.usuarioSolicitante}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Fecha de apertura</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" th:field="*{ticket.fechaCreacion}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Fecha de vencimiento:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext"  th:field="*{ticket.fechaCierre}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" >Servicio Relacionado:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" th:field="*{ticket.idTipoTicket.nombreTipoTicket}" disabled>
                            </div>
                        </div>
                        <!--   <select name="estado" id="estado" class="form-select" aria-label="Default select example">
                            <option th:each="ticket1: ${listaTicket}" th:value="${ticket1.idTickets}"
                                    th:text="${ticket1.estado}"
                                    th:selected="${ticket.estado == ticket1.estado}">Open this menu</option>-->
                        <!--
                        <option value="-1"
                                th:each="estado: ${ticket}"
                                th:if="${ticket.estado==1 || ticket.estado==2 || ticket.estado==3 || ticket.estado==4 || ticket.estado==5}"
                                th:selected="${ticket.estado==1 || ticket.estado==2 || ticket.estado==3}">--Seleccione el estado--</option>

                        <option th:each="estado: ${ticket}"
                                th:if="${ticket.estado==3 || ticket.estado==4 || ticket.estado==5 || ticket.estado==2 || ticket.estado==1}"
                                th:value="${ticket.estado}"
                                th:selected="${ticket.estado == 4 || ticket.estado==5}">Progreso</option>

                        <option th:each="estado: ${ticket}"
                                th:if="${ticket.estado==3 || ticket.estado==4 || ticket.estado==5 || ticket.estado==2 || ticket.estado==1 || ticket.estado== 6}"
                                th:value="${ticket.estado}"
                                th:selected="${ticket.estado==6}"
                        >Termino del trabajo
                        </option>

                        <option th:each="estado: ${ticket}"
                                th:if="${ticket.estado==3 || ticket.estado==4 || ticket.estado==5 || ticket.estado==7 || ticket.estado==6 || ticket.estado==2 || ticket.estado==1}"
                                th:value="${ticket.estado}"
                                th:selected="${ticket.estado == 7}" disabled>Cerrado</option>

                        <input type="hidden" class="form-control" th:field="*{estado}">
                    </select>
                </div>
            </div>
        <br>

          <table>
              <tr>
                 <td><a class="btn btn-outline-success" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/formulario?id=' + ${ticket.idTickets}}"><b>Formulario</b></a>
                 </td>
                  <td></td>
                  <td><a class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/desplazamiento?id=' + ${ticket.idTickets}}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                </svg>
                </a></td><td></td>
                  <td><a class="btn btn-outline-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/comentarios?id=' + ${ticket.idTickets}}"><b>Comentarios</b></a>
                  </td><td></td>
                  <td><a class="btn btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" type="submit"><b>Guardar</b></a></td>
              </tr>
          </table> -->
                        <form th:action="@{/tecnico/actualizarEstado}" class="search-form" method="POST">
                            <input th:value="${ticket.idTickets}" name="idTickets" type="hidden" />
                            <div class="row" th:if="${ticket.estado==5}">
                                <div class="col-sm-4 label">Estado:</div>
                                <div class="col-sm-6 label">
                                    <select class="form-select small select" aria-label="Default select example" name="cambioEstado">
                                        <option value="5">Progreso</option>
                                        <option value="6">Cerrado</option>
                                    </select>
                                </div>
                            </div>

                            <center><br>
                                <a class="btn btn-outline-success" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/formulario?id=' + ${ticket.idTickets}}"><b>Formulario</b></a>
                                <a class="btn btn-outline-info" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/desplazamientoProgreso?id=' + ${ticket.idTickets}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"/>
                                    </svg><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-globe-americas" viewBox="0 0 16 16">
                                    <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0ZM2.04 4.326c.325 1.329 2.532 2.54 3.717 3.19.48.263.793.434.743.484-.08.08-.162.158-.242.234-.416.396-.787.749-.758 1.266.035.634.618.824 1.214 1.017.577.188 1.168.38 1.286.983.082.417-.075.988-.22 1.52-.215.782-.406 1.48.22 1.48 1.5-.5 3.798-3.186 4-5 .138-1.243-2-2-3.5-2.5-.478-.16-.755.081-.99.284-.172.15-.322.279-.51.216-.445-.148-2.5-2-1.5-2.5.78-.39.952-.171 1.227.182.078.099.163.208.273.318.609.304.662-.132.723-.633.039-.322.081-.671.277-.867.434-.434 1.265-.791 2.028-1.12.712-.306 1.365-.587 1.579-.88A7 7 0 1 1 2.04 4.327Z"/>
                                </svg>
                                </a>
                                <a class="btn btn-outline-warning" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:href="@{'/tecnico/comentarios?id=' + ${ticket.idTickets}}"><b>Comentarios</b></a>
                                <button type="submit" class="btn btn-outline-danger" style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" th:if="${ticket.estado==4 || ticket.estado==5 || ticket.estado==6}">Guardar</button>
                            </center>
                        </form>
                    </div>
                    <div class="col-xl-6">
                        <div class="mb-3 row">
                            <h5 class="card-title" style="color: #095444">Formulario:</h5>
                            <img th:src="@{|/file/${formulario.archivo.getIdArchivos()}|}" alt="Profile" style="max-height:14rem">
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" style="color: #095444">Comentario:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext"  th:object="${ticket}" th:field="*{descripcion}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label" style="color: #095444">Descripción:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext"  th:object="${formulario}" th:field="*{descripcion}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Líder Técnico:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" th:field="*{ticket.idUsuarioCreador.apellido}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Nº Cuadrilla:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" th:field="*{ticket.idCuadrilla.idCuadrillas}" disabled>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="col-sm-4 form-label">Tiempo Transcurrido:</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control-plaintext" placeholder="2hrs:10min:10sec" disabled>
                            </div>
                        </div>
                    </div>

                </div><!-- End Bordered Tabs -->
            </div>
        </div>
    </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>