<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Desplazamiento</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <link rel="stylesheet" th:href="@{/leaflet/dist/leaflet-routing-machine.css}"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script th:href="@{/leaflet/dist/leaflet-routing-machine.js}"></script>

    <style>
        #map{
            min-height: 35rem;
            min-width: 20rem;
        }
    </style>
</head>
<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/headerDos :: header('tecnico',${listaTicket})"></header>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu(currentPage='desplazamiento')"></aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Mapa</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a th:href="@{/Tecnico/tecnico.html}">Home</a></li>
                <li class="breadcrumb-item active">Servicio</li>
                <li class="breadcrumb-item active">Desplazamiento</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <!--<section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="card">
                    <div class="card-body">
                        <br>
                        <h5>Ingrese los datos pedidos antes de empezar:</h5>
                        <div class="row g-3 align-items-center">
                            <table>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="suId" class="col-form-label">Su DNI:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="suId" class="form-control-plaintext" th:object="${tickets}" th:field="*{idCuadrilla.tecnico.dni}" disabled style="font-size: medium;color: #00489b;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="ticketid" class="col-form-label">Ticket ID:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="ticketid" class="form-control-plaintext" th:object="${tickets}" th:field="*{idTickets}" disabled style="font-size: medium;color: #00489b;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="hora" class="col-form-label" style="font-size: small">Hora de comienzo:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="hora" class="form-control" aria-describedby="horastart">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <center><p style="font-size: x-small">Para empezar desplazamiento dar click en "Empezar"</p><button type="button" class="btn btn-success">Empezar</button></center>
                        </div>
                        <br>
                        <h5>Ingrese los datos pedidos antes de terminar su turno:</h5>
                        <div class="row g-3 align-items-center">
                            <table>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="suId2" class="col-form-label">Su DNI:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="suId2" class="form-control-plaintext" th:object="${tickets}" th:field="*{idCuadrilla.tecnico.dni}" disabled style="font-size: medium;color: #00489b;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="ticketid2" class="col-form-label">Ticket ID:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="ticketid2" class="form-control-plaintext" th:object="${tickets}" th:field="*{idTickets}" disabled style="font-size: medium;color: #00489b;">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="lugarFinal" class="col-form-label" style="font-size: small">Lugar Final:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="text" id="lugarFinal" class="form-control" aria-describedby="lugarFinal">
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="col-auto">
                                            <label for="hora2" class="col-form-label" style="font-size: small">Hora término:</label>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="col-auto">
                                            <input type="hour" id="hora2" class="form-control" aria-describedby="horastart">
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <center> <p style="font-size: x-small">Para completar servicio dar click en "Terminar"</p><button type="button" class="btn btn-danger">Terminar</button></center>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <div id="map"></div>

                        <script>
                            var map = L.map('map').setView([-12.06802,-77.03462],18)
                            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);
                            var marker = L.marker([-12.07319, -77.03498].addTo(map));
                            //click event
                            map.on('click', function (e){
                                var endMarker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(map);

                                L.Routing.control({
                                    waypoints: [
                                        L.latLng(-12.07319, -77.03498),
                                        L.latLng(e.latlng.lat, e.latlng.lng) ]
                                }).addTo(map);
                            })
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </section>-->
    <section class="section profile">
        <div class="row">
            <div class="col-xl-4">
                <div class="h-100 p-5 rounded-3" style="background-color: #202a3b; color:white;">
                    <h5><b>Ingrese los datos pedidos antes de empezar:</b></h5>
                    <form method="POST" th:action="@{/tecnico/saveDesplazamiento}" th:object="${ticket}" enctype="multipart/form-data" style="margin-bottom: -35px;">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="ticketid" class="col-form-label"><b>Ticket ID:</b></label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="ticketid" class="form-control-plaintext" th:value="${ticket.idTickets}" disabled style="font-size: medium;color: #ebf6fd;"></div>
                            <div class="col-auto">
                                <label for="lugarInicio" class="col-form-label" style="font-size: small; color:#8dbe6c"><b>Lugar Inicio:</b></label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="lugarInicio" class="form-control" aria-describedby="lugarInicio" th:value="${ticket.idSitios.nombre}" disabled>
                            </div>
                            <div class="col-auto">
                                <label for="fechaHora" class="col-form-label" style="font-size: small; color:#8dbe6c"><b>Fecha y hora de comienzo:</b></label></div>
                            <div class="col-auto">
                                <input id="fechaHora" class="form-control" name="fechahora" step="1" th:value="${ticket.fechaCreacion}" disabled>
                            </div>
                            <div class="col-auto">
                                <label for="lugarCierre" class="col-form-label" style="font-size: small">Lugar de cierre:</label>
                            </div>

                            <div class="col-auto">
                                <input type="text" id="lugarCierre" class="form-control" aria-describedby="lugarInicio" th:field="*{idsitioCerrado.nombre}">
                            </div>

                            <div class="col-auto">
                                <label for="fechaHora2" class="col-form-label" style="font-size: small">Fecha y hora determino:</label></div>

                            <div class="col-auto">
                                <input id="fechaHora2" type="datetime-local" class="form-control" name="fechahora" step="1" min="2023-01-01T00:00" max="2023-12-31T12:00" th:value="${ticket.fechaCierre}">
                                <br>
                            </div>
                            <center>
                                <p style="font-size: x-small">Para culminar desplazamiento dar click en "Terminar "</p>
                                <a type="button" class="btn btn-outline-danger" th:href="@{'/tecnico/verTicketProgreso?id='+${ticket.idTickets}}">Terminar</a>
                            </center>
                        </div>
                    </form>

                </div>
            </div>
            <div class="col-xl-8">
                <div class="card">
                    <div class="card-body pt-3">
                        <div id="map"></div>
                        <!-- MAPA -->
                        <script>
                            var map = L.map('map').setView([-12.2681124, -74.8087287], 7);

                            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                            }).addTo(map);

                            L.marker([-12.2681124, -74.8087287]).addTo(map)
                                .bindPopup('Sitio Inicial')
                                .openPopup();
                        </script>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main><!-- End #main -->

<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>


</body>
</html>