<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Validación de sitio-Form</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
</head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/headerDos :: header('tecnico')"></header>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu('formulario3')"></aside><!-- End Sidebar-->
<main id="main" class="main">
    <div class="container">
        <div class="pagetitle">
            <h1>Formulario 3</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/tecnico/}">Home</a></li>
                    <li class="breadcrumb-item active">Tickets Asignados</li>
                    <li class="breadcrumb-item active">Datos del ticket</li>
                    <li class="breadcrumb-item active">Formulario</li>
                </ol>
            </nav>
        </div>

        <!--<section class="section">
            <div class="row">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Información del cliente y ticket:</h5>
                            <form method="POST" th:action="@{/tecnico/saveFormulario}" th:object="${formulario}"  enctype="multipart/form-data" style="margin-bottom: -35px;">
                                <div class="row">
                                    <div class="col-sm-10">
                                        <div class="mb-3 ">
                                            <label class="form-label">ID del Ticket</label>
                                            <input type="number" class="form-control"  th:field="*{ticket.idTickets}" disabled>
                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Nombre completo</label>
                                            <input type="text" class="form-control"  th:field="*{ticket.usuarioSolicitante}" disabled>
                                        </div>
                                        <div class="mb-3 ">
                                            <label class=" form-label">Prioridad del Ticket</label>
                                            <input type="text" class="form-control" th:field="*{ticket.prioridad}" disabled>

                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Servicio</label>
                                            <input type="text" class="form-control" th:field="*{ticket.idTipoTicket.nombreTipoTicket}" disabled>

                                        </div>
                                        <div class="mb-3">
                                            <label class="form-label">Fecha y hora:</label>
                                            <br>
                                            <input type="datetime-local" class="form-control" name="fechahora" step="1" min="2023-01-01T00:00" max="2023-12-31T12:00" value="2023-01-01T12:00">
                                        </div>

                                    </div>
                                    <div class="mb-3">
                                        <h5>Descripción:</h5>
                                        <label class="form-label">Del trabajo realizado</label>
                                        <input type="text" class="form-control" th:field="*{descripcion}">

                                    </div>
                                    <div class="mb-3">
                                        <label for="imagenSubida" class="form-label">Foto de trabajo realizado:</label>
                                        <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                            <img id="imgPreview" th:src="@{|image/${formulario.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                                        </div>
                                        <input class="form-control" type="file" name="imagenSubida" id="imagenSubida"
                                               accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                    </div>
                                    <div class="row mb-5">
                                        <h5><b>Datos del técnico:</b></h5>
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label">Nombre </label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" th:field="*{tecnico.nombre}" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-4 col-form-label">Apellido </label>
                                            <div class="col-sm-8">
                                                <input class="form-control" type="text" th:field="*{tecnico.apellido}" disabled>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row mb-5">
                                        <h5><b>Información General del ticket</b></h5>
                                        <p>Llegada a sitio:</p>
                                        <div class="mb-3 row">
                                            <label for="imagenSubida1" class="form-label">Foto del técnico </label>
                                            <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                                <img id="imgPreview1" th:src="@{|image/${formulario.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                                            </div>
                                            <input class="form-control" type="file" name="imagenSubida1" id="imagenSubida1"
                                                   accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                        </div>
                                        <div class="mb-3 row">
                                            <p>Descripción</p>
                                            <label class="col-sm-4 col-form-label">Hechos relevantes: </label>
                                            <div class="form-floating col-sm-8">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled" style="height: 100px" disabled>He colocado la maquina en su lugar despues de repararlo</textarea>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="imagenSubida2" class="form-label">Foto del sitio </label>
                                            <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                                <img id="imgPreview2" th:src="@{|image/${formulario.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                                            </div>
                                            <input class="form-control" type="file" name="imagenSubida2" id="imagenSubida2"
                                                   accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                        </div>

                                    </div>
                                    <div class="row mb-5">
                                        <h5><b>Validación de Sitio</b></h5>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">¿Existe conexión de energía? </label>
                                            <div class="col-sm-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked">Sí</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 col-form-label">Nombre de arrendatario: </label>
                                            <div class="col-sm-7">
                                                <input type="text" class="form-control"  th:field="*{ticket.usuarioSolicitante}" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-5 col-form-label">DNI del arrendatario: </label>
                                            <div class="col-sm-7">
                                                <input class="form-control" type="text" placeholder="72495536" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">¿La movilidad llega al sitio?</label>
                                            <div class="col-sm-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked1" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked1">Sí</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">Área del sitio /m2: </label>
                                            <div class="col-sm-6">
                                                <input class="form-control" type="number" placeholder="25,2" disabled>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <p>Observaciones</p>
                                            <label class="col-sm-4 col-form-label">Descripción: </label>
                                            <div class="form-floating col-sm-8">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                                                <label for="floatingTextarea2">Comments</label>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <div id="map" ></div>
                                            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                                            <script>
                                                let map = L.map('map').setView([-12.06802,-77.03462],14)
                                                L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                                                }).addTo(map);
                                                L.marker([-12.06802,-77.03462]).addTo(map).bindPopup('Sitio').openPopup();

                                            </script>
                                        </div>
                                        <div class="mb-3 row">
                                            <label for="imagenSubida3" class="form-label">Foto del sitio </label>
                                            <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                                <img id="imgPreview3" th:src="@{|image/${formulario.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                                            </div>
                                            <input class="form-control" type="file" name="imagenSubida3" id="imagenSubida3"
                                                   accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                        </div>
                                    </div>
                                    <div class="row mb-5">
                                        <h5><b>Trabajo realizado</b></h5>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">¿Se realizó construcción de infraestructura? </label>
                                            <div class="col-sm-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked2" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked2">Sí</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">¿Se realizó instalaciones electricas? </label>
                                            <div class="col-sm-6">
                                                <div class="form-check form-switch">
                                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked3" checked>
                                                    <label class="form-check-label" for="flexSwitchCheckChecked3">Sí</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-6 col-form-label">Tecnología instalada: </label>
                                            <div class="col-sm-6">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                    <label class="form-check-label" for="flexCheckDefault">FFTH</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault1">
                                                    <label class="form-check-label" for="flexCheckDefault1">HFC</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2">
                                                    <label class="form-check-label" for="flexCheckDefault2">2G</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3">
                                                    <label class="form-check-label" for="flexCheckDefault3">3G</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4">
                                                    <label class="form-check-label" for="flexCheckDefault4">4G</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5">
                                                    <label class="form-check-label" for="flexCheckDefault5">5G</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <p><b>Descripción</b></p>
                                            <label class="col-sm-4 col-form-label">Trabajos realizados: </label>
                                            <div class="form-floating col-sm-8">
                                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2Disabled1" style="height: 100px" disabled>Se procedió con lel montaje de la torre, además de la adecuación del gabinete para la correcta operación de los equipos a instalarse. Se instalron: BBU, RRU, Router, Switch, Rectificadores y baterías.</textarea>
                                            </div>
                                        </div>
                                        <div class="mb-3 row">
                                            <label class="col-sm-2 col-form-label">Foto del sitio </label>
                                            <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                                <img id="imgPreview4" th:src="@{|image/${formulario.archivo.idArchivos}|}" class="card-img-top" style="max-height: 250px" alt="">
                                            </div>
                                            <input class="form-control" type="file" name="imagenSubida3" id="imagenSubida4"
                                                   accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                        </div>
                                        <center><button type="submit" class="btn btn-danger">Enviar</button>
                                            <a type="button" class="btn btn-secondary" th:href="@{'/tecnico/verTicket?id='+${formulario.ticket.idTickets}}">Cancelar</a></center>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>
            </div>
        </section>-->
        <section class="section dashboard">
            <div class="row">
                <div class="rounded p-5" style="background-color: #FFFFFF;">
                    <div class="pagetitle">
                        <h1 class="card-title">Formulario 3</h1>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msgFormulario3 != null}" th:text="${msgFormulario3}">
                        A simple success alert—check it out!
                    </div>
                    <form method="POST" th:action="@{/tecnico/saveFormulario3}" th:object="${formulario}" enctype="multipart/form-data" style="margin-bottom: -35px;">
                        <div class="row">
                            <div class="col-md-6">

                                <div class="form-check form-switch" th:if="${formulario.construccion==0}">
                                    <label class="form-label">¿Se realizó construcción de infraestructura?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="conexion"><br>
                                    <label class="form-check-label" for="conexion" style="font-size: xx-small">No se realizó construcción de infraestructuras</label>
                                </div>
                                <div class="form-check form-switch" th:if="${formulario.construccion==1}">
                                    <label class="form-label">¿Se realizó construcción de infraestructura?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="conexion1" checked=""><br>
                                    <label class="form-check-label" for="conexion1" style="font-size: xx-small">Sí se realizó construcción de infraestructuras</label>
                                </div>
                                <br>
                                <div class="form-check form-switch" th:if="${formulario.instalacion==0}">
                                    <label class="form-label">¿Se realizó instalaciones eléctricas?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"><br>
                                    <label class="form-check-label" for="flexSwitchCheckDefault" style="font-size: xx-small">No hay instalación eléctricas</label>
                                </div>
                                <div class="form-check form-switch" th:if="${formulario.instalacion==1}">
                                    <label class="form-label">¿Se realizó instalaciones eléctricas?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked=""><br>
                                    <label class="form-check-label" for="flexSwitchCheckChecked" style="font-size: xx-small">Sí hay instalación eléctricas</label>
                                </div>

                                <br>
                                <div class="form-check form-switch" th:if="${formulario.despliegue==0}">
                                    <label class="form-label">¿Se realizó despliegue de equipos?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="despliegueEquiposNo"><br>
                                    <label class="form-check-label" for="despliegueEquiposNo" style="font-size: xx-small">No hay despliegue de equipos</label>
                                </div>
                                <div class="form-check form-switch" th:if="${formulario.despliegue==1}">
                                    <label class="form-label">¿Se realizó despliegue de equipos?:</label>
                                    <input class="form-check-input" type="checkbox" role="switch" id="despliegueEquiposSi" checked=""><br>
                                    <label class="form-check-label" for="despliegueEquiposSi" style="font-size: xx-small">Sí hay despliegue de equipos</label>
                                </div>
                                <br>

                                <div class="mb-3">
                                    <label class="form-label"> Selector de Tipo de transporte</label>
                                    <select class="form-select" th:field="*{tipoTransporte}">
                                        <option value="-1">--Selecciona un tipo--</option>
                                        <option value="FibraOptica">Fibra Optica</option>
                                        <option value="Microondas">Microondas</option>
                                        <option value="Satelite">Satélite</option>
                                    </select>
                                </div>
                                <h6>Tecnología instalada</h6>
                                <div class="mb-3" th:each="tecIns:${tecInsList}">

                                            <div th:if="${tecIns.checkTecInstalada(tecFormList)}">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""  th:id="${tecIns.getId()+'checkbox'}" checked>
                                                    <label class="form-check-label" th:text="${tecIns.getNombre()}">
                                                    </label></div>
                                            </div>
                                            <div th:unless="${tecIns.checkTecInstalada(tecFormList)}">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""  th:id="${tecIns.getId()+'checkbox'}">
                                                    <label class="form-check-label" th:text="${tecIns.getNombre()}">
                                                    </label></div>
                                            </div>
                                </div>
                                <!--<div class="mb-3">
                                    <div th:if="${formulario.tecnologiainstaladas == 'HFC'}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedHFC" checked>
                                            <label class="form-check-label" for="flexCheckCheckedHFC">
                                                HFC
                                            </label></div>
                                    </div>
                                    <div th:else>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefaultHFC" >
                                            <label class="form-check-label" for="flexCheckDefaultHFC">
                                                HFC
                                            </label></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div th:if="${formulario.tecnologiainstaladas == '2G'}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2G" checked>
                                            <label class="form-check-label" for="flexCheckChecked2G">
                                                2G
                                            </label></div>
                                    </div>
                                    <div th:else>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault2G" >
                                            <label class="form-check-label" for="flexCheckDefault2G">
                                                2G
                                            </label></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div th:if="${formulario.tecnologiainstaladas =='3G'}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3G" checked>
                                            <label class="form-check-label" for="flexCheckChecked3G">
                                                3G
                                            </label></div>
                                    </div>
                                    <div th:else>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault3G" >
                                            <label class="form-check-label" for="flexCheckDefault3G">
                                                3G
                                            </label></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div th:if="${formulario.tecnologiainstaladas == '4G'}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4G" checked>
                                            <label class="form-check-label" for="flexCheckChecked4G">
                                                4G
                                            </label></div>
                                    </div>
                                    <div th:else>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault4G" >
                                            <label class="form-check-label" for="flexCheckDefault4G">
                                                4G
                                            </label></div>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <div th:if="${formulario.tecnologiainstaladas == '5G'}">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5G" checked>
                                            <label class="form-check-label" for="flexCheckChecked5G">
                                                5G
                                            </label></div>
                                    </div>
                                    <div th:else>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault5G" >
                                            <label class="form-check-label" for="flexCheckDefault5G">
                                                5G
                                            </label></div>
                                    </div>
                                </div>-->

                                <div class="mb-3">
                                    <label class="form-label">Descripción de los trabajos realizados:</label>
                                    <input th:field="*{trabarealizados}" type="text" th:class="${#fields.hasErrors('trabarealizados')?'form-control is-invalid':'form-control'}"/>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('trabarealizados')}" th:errors="*{trabarealizados}">
                                        Mensaje de error de trabajos realizados
                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label class="form-label">Fotos de instalación:</label>
                                    <div class="card mx-auto" style="width: 250px; max-height: 250px">
                                        <img th:src="@{|image/${formulario.archivo.idArchivos}|}" style="max-width: 300px;" alt="Fotos del sitio">
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="files" class="form-label">Cargar fotos de la instalación:</label>
                                    <input class="form-control" type="file" name="files" id="files" accept="image/*" onchange="previewImage(event, '#imgPreview')">
                                </div>
                                <button type="submit" class="btn btn-outline-primary float-end">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br><br>


            </div>
        </section>
        <br>
        <a th:href="@{'/tecnico/formulario?id='+${formulario.ticket.idTickets}}" class="btn btn-outline-danger">Regresar</a>
    </div>
</main>
<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/foto.js}"></script>

</body>

</html>