<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Formulario</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <style>
        #map{ height: 38vh; width:40hw; }
        select {
            width: 30%;
            font-size: 0.8rem
        }
        .imagen-recortada {
            width: 200px; /* Ancho deseado de la imagen recortada */
            height: 200px; /* Altura deseada de la imagen recortada */
            overflow: hidden; /* Oculta cualquier contenido que se extienda más allá del tamaño del div */
        }
    </style>
</head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/headerDos :: header('tecnico',${listaTicket}, ${cuadrilla})"></header>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu('formulario')"></aside><!-- End Sidebar-->

<main  id="main" class="main">
        <div class="pagetitle">
            <h1>Formulario</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/tecnico/}">Home</a></li>
                    <li class="breadcrumb-item active">Tickets Asignados</li>
                    <li class="breadcrumb-item active">Datos del ticket</li>
                    <li class="breadcrumb-item active">Formulario</li>
                </ol>
            </nav>
        </div>
    <div class="container py-4">
        <div class="p-5 mb-4 card" style="background-color: #f8fdfb;">
            <div class="row">
                <h2 style="font-weight: bold; color: #0f5132">Formulario - Ticket despliegue</h2>
                <form method="POST" th:action="@{/tecnico/saveFormularioDespliegue}" th:object="${formulario}" enctype="multipart/form-data" style="margin-bottom: -35px;">
                    <input type="hidden" class="form-control" th:field="*{idFormularios}">
                    <input type="hidden" class="form-control" th:field="*{archivo.idArchivos}">
                    <input type="hidden" class="form-control" th:field="*{fechaLlenado}">
                    <input type="hidden" class="form-control" th:field="*{descripcion}">
                    <input type="hidden" class="form-control" th:field="*{confirmacion}">
                    <input type="hidden" class="form-control" th:field="*{tecnico}">
                    <input type="hidden" class="form-control" th:field="*{ticket}">
                    <input type="hidden" class="form-control" th:field="*{tipoticket}">
                    <input type="hidden" class="form-control" th:field="*{equipoencendido}">
                    <input type="hidden" class="form-control" th:field="*{equipoconectado}">
                    <input type="hidden" class="form-control" th:field="*{situacion}">
                    <input type="hidden" class="form-control" th:field="*{acciones}">
                    <input type="hidden" class="form-control" th:field="*{bateriasestado}">
                    <input type="hidden" class="form-control" th:field="*{averia}">
                    <!--<input type="hidden" name="hrelevantes" id="hrelevantes" th:field="*{hrelevantes}">-->

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Hechos relevantes en la llegada al sitio:</label>
                                <input th:field="*{hrelevantes}" type="text" th:class="${#fields.hasErrors('hrelevantes')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('hrelevantes')}" th:errors="*{hrelevantes}">
                                    Mensaje de error de hrelevantes
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Nombres del arrendatario:</label>
                                <input th:field="*{nomredantario}" type="text" th:class="${#fields.hasErrors('nomredantario')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('nomredantario')}" th:errors="*{nomredantario}">
                                    Mensaje de error de nomredantario
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">DNI:</label>
                                <input th:field="*{dni}" type="number" th:class="${#fields.hasErrors('dni')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}">
                                    Mensaje de error de dni
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Área del sitio:</label>
                                <input th:field="*{area}" type="number" th:class="${#fields.hasErrors('area')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('area')}" th:errors="*{area}">
                                    Mensaje de error de area
                                </div>
                            </div>


                            <div class="form-check form-switch" th:if="${formulario.conexion.equals(false)}">
                                <label class="form-label">¿Conexión de energia?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="conexion" th:field="*{conexion}" th:value="0"><br>
                                <label class="form-check-label" for="conexion" style="font-size: xx-small">No hay conexión</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.conexion.equals(true)}">
                                <label class="form-label">¿Conexión de energia?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="conexion1" th:field="*{conexion}" th:value="1" checked=""><br>
                                <label class="form-check-label" for="conexion1" style="font-size: xx-small" >Sí hay conexión</label>
                            </div>
                            <br>
                            <div class="form-check form-switch" th:if="${formulario.movilidad.equals(false)}">
                                <label class="form-label">¿La movilidad llega al sitio?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="movilidad0" th:field="*{movilidad}" th:value="0"><br>
                                <label class="form-check-label" for="movilidad0" style="font-size: xx-small">No llega movilidad</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.movilidad.equals(true)}">
                                <label class="form-label">¿La movilidad llega al sitio?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="movilidad1" th:field="*{movilidad}" th:value="1" checked=""><br>
                                <label class="form-check-label" for="movilidad1" style="font-size: xx-small" >Sí llega movilidad</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.construccion.equals(false)}">
                                <label class="form-label">¿Se realizó construcción de infraestructura?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="construccion0" th:field="*{construccion}" th:value="0"><br>
                                <label class="form-check-label" for="construccion0" style="font-size: xx-small">No se realizó construcción de infraestructuras</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.construccion.equals(true)}">
                                <label class="form-label">¿Se realizó construcción de infraestructura?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="construccion1" th:field="*{construccion}" th:value="1" checked=""><br>
                                <label class="form-check-label" for="construccion1" style="font-size: xx-small">Sí se realizó construcción de infraestructuras</label>
                            </div>
                            <br>
                            <div class="form-check form-switch" th:if="${formulario.instalacion.equals(false)}">
                                <label class="form-label">¿Se realizó instalaciones eléctricas?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="instalacion0" th:field="*{instalacion}" th:value="0"><br>
                                <label class="form-check-label" for="instalacion0" style="font-size: xx-small">No hay instalación eléctricas</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.instalacion.equals(true)}">
                                <label class="form-label">¿Se realizó instalaciones eléctricas?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="instalacion1" th:field="*{instalacion}" th:value="1" checked=""><br>
                                <label class="form-check-label" for="instalacion1" style="font-size: xx-small">Sí hay instalación eléctricas</label>
                            </div>

                            <div class="form-check form-switch" th:if="${formulario.despliegue.equals(false)}">
                                <label class="form-label">¿Se realizó despliegue de equipos?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="despliegueEquiposNo" th:field="*{despliegue}" th:value="0"><br>
                                <label class="form-check-label" for="despliegueEquiposNo" style="font-size: xx-small">No hay despliegue de equipos</label>
                            </div>
                            <div class="form-check form-switch" th:if="${formulario.despliegue.equals(true)}">
                                <label class="form-label">¿Se realizó despliegue de equipos?:</label>
                                <input class="form-check-input" type="checkbox" role="switch" id="despliegueEquiposSi" th:field="*{despliegue}" th:value="1" checked=""><br>
                                <label class="form-check-label" for="despliegueEquiposSi" style="font-size: xx-small">Sí hay despliegue de equipos</label>
                            </div>
                            <br>
                            <div class="mb-3">
                                <label class="form-label">Descripción de los trabajos realizados:</label>
                                <input th:field="*{trabarealizados}" type="text" th:class="${#fields.hasErrors('trabarealizados')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('trabarealizados')}" th:errors="*{trabarealizados}">
                                    Mensaje de error de trabajos realizados
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Observaciones:</label>
                                <input th:field="*{observaciones}" type="text" th:class="${#fields.hasErrors('observaciones')?'form-control is-invalid':'form-control'}"/>
                                <div class="invalid-feedback"
                                     th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}">
                                    Mensaje de error de observaciones
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="col-md-6">
                            <h5 style="font-weight: bold; color: #0d3e59">Imágenes</h5>
                            <div class="mb-3">
                                <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                                <div id="map"></div>
                                <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                                <script>
                                    var latitud = [[${formulario.ticket.idSitios.latitud}]];
                                    var longitud = [[${formulario.ticket.idSitios.longitud}]];
                                    let map = L.map('map').setView([latitud,longitud],18)
                                    L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                                        attribution:
                                            'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                                    }).addTo(map);
                                    L.marker([latitud,longitud]).addTo(map).bindPopup('Lugar').openPopup();
                                </script>

                                <script>
                                    function centrarMapaEnCoordenadasIniciales() {
                                        map.setView([latitud, longitud], 18);
                                    }
                                    var botonCentrar = L.control({ position: 'bottomright' });

                                    botonCentrar.onAdd = function (map) {
                                        var container = L.DomUtil.create('div', 'boton-centrar');
                                        var button = L.DomUtil.create('button', 'btn btn-primary', container);
                                        button.type = 'button';
                                        var icono = L.DomUtil.create('i', 'bx bx-collapse', button);
                                        L.DomEvent.on(button, 'click', centrarMapaEnCoordenadasIniciales);
                                        return container;
                                    };
                                    botonCentrar.addTo(map);
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-outline-danger">Guardar cambios</button>
                    </div>
                    <!--<a th:href="@{'/tecnico/verTicketProgreso?id='+${formulario.ticket.idTickets}}" class="btn btn-outline-danger">Regresar</a>
                    <a type="button" class="btn btn-light btn-sm" th:href="@{'/tecnico/verTicketProgreso?id='+${formulario.ticket.idTickets}}" style="background-color: #202a3b; color:white">Atrás</a>-->
                </form>
            </div>
        </div>
    </div>

</main>


<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>
<script th:src="@{/assets/js/foto.js}"></script>

</body>

</html>