<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mapa</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <style>
        #map { height: 80vh; width: 100hw; }
        select {
            width: 30%;
            font-size: 0.8rem
        }
        .legend {
            padding: 10px;
            font-size: 14px;
            line-height: 18px;
            color: #555;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
        }

        .legend i {
            width: 18px;
            height: 18px;
            margin-right: 8px;
            border-radius: 50%;
            display: inline-block;
        }

    </style>
</head>
<body>
<!-- ======= Header =======
<header th:replace="Fragmentos/header :: header('Técnico')"></header> -->
<header th:replace="Fragmentos/headerDos :: header('tecnico',${listaTicket})"></header>
<!-- End Header -->
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuTecnico :: menu(currentPage='mapa')"></aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="container">
        <div class="pagetitle">
            <h1>Mapa</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/tecnico/}">Home</a></li>
                    <li class="breadcrumb-item active">Servicio</li>
                    <li class="breadcrumb-item active">Mapa</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->
        <section class="section profile">
            <div class="row">
                <div class="col-xl-12">
                    <div class="card" >
                        <div class="card-body pt-3">
                            <div id="select-location">
                                <select name="location" id="location">
                                    <option value="-1">Selecciona uno...</option>
                                    <!--<option th:each="sitio :${sitioCerradoList}"
                                            th:value="${sitio.latitud + ',' + sitio.longitud}" th:text="${sitio.distrito}">Empire State Building</option>-->
                                    <option th:each="ticket :${listaMp}"
                                            th:text="${ticket.estado == 3 ? 'Nuevo' : (ticket.estado == 4 or ticket.estado == 5) ? 'Progreso' : (ticket.estado == 6) ? 'Cerrado' : 'Otro'}"
                                            th:value="${ticket.idSitios.latitud + ',' + ticket.idSitios.longitud}">
                                        Empire State Building
                                    </option>

                                </select>
                            </div>
                            <br>
                            <div id="map">
                            </div>
                            <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                            <script>
                                let map = L.map('map').setView([-12.0690694, -77.0786442], 17);

                                //mapa general
                                L.tileLayer('https://server.arcgisonline.com/ArcGIS/rest/services/World_Imagery/MapServer/tile/{z}/{y}/{x}', {
                                    attribution:
                                        'Tiles &copy; Esri &mdash; Source: Esri, i-cubed, USDA, USGS, AEX, GeoEye, Getmapping, Aerogrid, IGN, IGP, UPR-EGP, and the GIS User Community'
                                }).addTo(map);
                                var Stadia_StamenTerrainLines = L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_terrain_lines/{z}/{x}/{y}{r}.{ext}', {
                                    minZoom: 0,
                                    maxZoom: 18,
                                    attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                    ext: 'png'
                                }).addTo(map);
                                //mapa general - fin
                                //INICIO DE LEYENDAAAA
                                var zoneLegend = {
                                    "Ticket Nuevo": {
                                        icon: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                                        color: 'green'
                                    },
                                    "Ticket Cerrado": {
                                        icon: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                                        color: 'red'
                                    },
                                    "Ticket Progreso": {
                                        icon: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
                                        color: 'yellow'
                                    }

                                };

                                var legend = L.control({ position: 'bottomright' });

                                legend.onAdd = function (map) {
                                    var div = L.DomUtil.create('div', 'legend');
                                    for (var zone in zoneLegend) {
                                        div.innerHTML += '<i style="background:' + zoneLegend[zone].color + '"></i> ' + zone + '<br>';
                                    }
                                    return div;
                                };

                                legend.addTo(map);

                                //FINN DE LEYENDAAAA

                                var redIcon = new L.Icon({
                                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                                    iconSize: [25, 41],
                                    iconAnchor: [12, 41],
                                    popupAnchor: [1, -34],
                                    shadowSize: [41, 41]
                                });

                                var greenIcon = new L.Icon({
                                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                                    iconSize: [25, 41],
                                    iconAnchor: [12, 41],
                                    popupAnchor: [1, -34],
                                    shadowSize: [41, 41]
                                });
                                var yellowIcon = new L.Icon({
                                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
                                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                                    iconSize: [25, 41],
                                    iconAnchor: [12, 41],
                                    popupAnchor: [1, -34],
                                    shadowSize: [41, 41]
                                });

                                L.marker([-12.0690694, -77.0786442], {icon: yellowIcon}).addTo(map);
                                L.marker([-13.5167110, -71.9788230], {icon: greenIcon}).addTo(map);
                                L.marker([-12.1219000, -77.0297000], {icon: redIcon}).addTo(map);

                                document.getElementById('select-location').addEventListener('change', function(e){
                                    let coords = e.target.value.split(",");
                                    L.marker(coords).addTo(map)
                                    map.flyTo(coords, 17);
                                });

                            </script>
                            <!-- MAPA -->
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>

</main><!-- End #main -->


<footer id="footer" class="footer">
    <div class="credits" style="font-size: x-small;color:#5e5d5d">
        Contacto: ☎ | 2758403  ✉ | <a href="mailto:nexus.empresatcom@gmail.com" style="color:#5e5d5d"> nexus.empresatcom@gmail.com</a>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>


</body>
</html>