<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<aside id="sidebar" class="sidebar" th:fragment="menu(currentPage)">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a th:class="${currentPage == 'inicio' ? 'nav-link' : 'nav-link collapsed'}" data-bs-target="#tables-nav" th:href="@{/supervisor/}">
                <i class="bi bi-house"></i><span>Inicio</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${currentPage == 'listaTicketsNuevos' or currentPage == 'listaTicket' or currentPage == 'dashboard' or currentPage == 'ticketProceso' or currentPage == 'ticketCerrado' or currentPage == 'ticketNuevo' or currentPage == 'ticketAsignar' or currentPage == 'comentariosTicket' or currentPage == 'comentariosAsignar' or currentPage == 'formulario'? 'nav-link' : 'nav-link collapsed active'}" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>Tickets</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="tables-nav" th:classappend="${currentPage == 'listaTicketsNuevos' or currentPage == 'listaTicket' or currentPage == 'dashboard' or currentPage == 'ticketProceso' or currentPage =='ticketCerrado' or currentPage =='ticketAsignar' or currentPage == 'ticketNuevo' or currentPage == 'comentariosTicket' or currentPage == 'comentariosAsignar' or currentPage == 'formulario'? 'nav-content collapse show' : 'nav-content collapse'}" data-bs-parent="#sidebar-nav">
                <li>
                    <a th:classappend="${currentPage == 'listaTicketsNuevos' or currentPage == 'ticketAsignar' or currentPage == 'comentariosAsignar'? 'active' : ''}" th:href="@{/supervisor/listaTicketsNuevos}">
                        <i class="bi bi-circle"></i><span>Tickets Sin Asignar</span>
                    </a>
                </li>
                <li>
                    <a th:classappend="${currentPage == 'listaTicket' or currentPage =='ticketCerrado' or currentPage =='ticketProceso' or currentPage == 'ticketNuevo' or currentPage == 'comentariosTicket' or currentPage == 'formulario'? 'active' : ''}" th:href="@{/supervisor/listaTickets}">
                        <i class="bi bi-circle"></i><span>Ver Tickets</span>
                    </a>
                </li>
                <li>
                    <a th:classappend="${currentPage == 'dashboard' ? 'active' : ''}" th:href="@{/supervisor/dashboard}">
                        <i class="bi bi-circle"></i><span>Dashboard</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="nav-item">
            <a th:class="${currentPage == 'listaCuadrilla' or currentPage == 'crearCuadrilla' or currentPage == 'detallesCuadrilla' ? 'nav-link' : 'nav-link collapsed'}" th:href="@{/supervisor/listaCuadrillas}">
                <i class="bi bi-layout-text-window-reverse"></i>
                <span>Cuadrillas</span>
            </a>
        </li>

        <li class="nav-item">
            <a th:class="${currentPage == 'mapaTicket' ? 'nav-link' : 'nav-link collapsed'}" th:href="@{/supervisor/mapaTickets}">
                <i class="bi bi-grid"></i>
                <span>Mapa</span>
            </a>
        </li>

        <!-- End Icons Nav -->

        <!-- End Components Nav -->

    </ul>

</aside><!-- End Sidebar-->
</html>
