<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar" th:fragment="menu(currentPage)">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a th:class="${currentPage == 'inicio' ? 'nav-link' : 'nav-link collapsed'}" data-bs-target="#forms-nav" th:href="@{/superadmin/}">
                <i class="bi bi-house"></i><span>Inicio</span>
            </a>
        </li><!-- End Tables Nav -->

        <li class="nav-item">
            <a th:class="${currentPage == 'crearAdmin' or currentPage == 'listaUsuario' or currentPage == 'listaBaneados' ? 'nav-link' : 'nav-link collapsed'}" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-people"></i><span>Gestión de usuarios</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="charts-nav" th:classappend="${currentPage == 'crearAdmin' or currentPage == 'listaUsuario' or currentPage == 'listaBaneados' ? 'nav-content collapse show' : 'nav-content collapse'}" data-bs-parent="#sidebar-nav">
                <li>
                    <a th:classappend="${currentPage == 'crearAdmin' ? 'active' : ''}" th:href="@{/superadmin/crearusuario}">
                        <i class="bi bi-circle"></i><span>Crear Administrador</span>
                    </a>
                </li>
                <li>
                    <a th:classappend="${currentPage == 'listaUsuario' ? 'active' : ''}" th:href="@{/superadmin/listausuarios}">
                        <i class="bi bi-circle"></i><span>Lista de Usuarios</span>
                    </a>
                </li>
                <li>
                    <a th:classappend="${currentPage == 'listaBaneados' ? 'active' : ''}" th:href="@{/superadmin/listaBaneados}">
                        <i class="bi bi-circle"></i><span>Lista de Desactivados</span>
                    </a>
                </li>
            </ul>
        </li><!-- End Charts Nav -->
    </ul>

</aside><!-- End Sidebar-->


</html>