<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Nexus</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link th:href="@{/assets/img/favicon.png}" rel="icon">
    <link th:href="@{/assets/img/apple-touch-icon.png}" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link th:href="@{https://fonts.gstatic.com}" rel="preconnect">
    <link th:href="@{https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i}" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.snow.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/quill/quill.bubble.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/remixicon/remixicon.css}" rel="stylesheet">
    <link th:href="@{/assets/vendor/simple-datatables/style.css}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link th:href="@{/assets/css/style.css}" rel="stylesheet">


    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Aug 30 2023 with Bootstrap v5.3.1
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('analistaOYM')"><!-- End Header --></header>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAnalistaOYM :: menu('crearTicket')">
</aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="container">


        <div class="pagetitle">
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/analistaOYM/ticket}">Lista de tickets</a></li>
                    <li class="breadcrumb-item active">Crear Ticket</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <div class="rounded p-5" style="background-color: #FFFFFF;">
                    <div class="pagetitle">
                        <h1 class="card-title">Crear ticket</h1>
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msgEmpresa != null}" th:text="${msgEmpresa}">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msgPrioridad != null}" th:text="${msgPrioridad}">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msgSitio != null}" th:text="${msgSitio}">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msgFechaCierre != null}" th:text="${msgFechaCierre}">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${msg1 != null}" th:text="${msg1}">
                        A simple success alert—check it out!
                    </div>
                    <div class="alert alert-danger" role="alert" th:if="${fechaCierre != null}" th:text="${fechaCierre}">
                        A simple success alert—check it out!
                    </div>

                    <form method="POST" th:action="@{/analistaOYM/saveTicket}" th:object="${ticket}" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="hidden" class="form-control" th:field="*{idTickets}">

                                <div class="mb-3">
                                    <label for="idEmpresaAsignada">Empresa</label>
                                    <select class="form-select" name="idEmpresaAsignada" id="idEmpresaAsignada">
                                        <option value="">--Seleccione una empresa--</option>
                                        <option th:each="empresa: ${listaEmpresa}"
                                                th:text="${empresa.nombre}" th:value="${empresa.idEmpresas}"
                                                th:selected="${empresaSeleccionada != null && empresaSeleccionada.idEmpresas == empresa.idEmpresas}"
                                        >Open this select menu</option>
                                    </select>
                                </div>

                                <input type="hidden" name="idTipoTicket" id="idTipoTicket" value="1">

                                <div class="mb-3">
                                    <label for="idSitios">Sitio de despliegue:</label>
                                    <select name="idSitios" id="idSitios" class="form-select">
                                        <option value="">--Seleccione el sitio--</option>
                                        <option th:each="sitio: ${listaSitios}"
                                                th:text="${sitio.nombre}" th:value="${sitio.idSitios}"
                                                th:selected="${sitioSeleccionada != null && sitioSeleccionada.idSitios == sitio.idSitios}"
                                        >Sitio de Tipo</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="fechaCierre">Fecha de vencimiento:</label>
                                    <input type="date" class="form-control" name="fechaCierre" id="fechaCierre" >
                                </div>

                            </div>

                            <div class="col-md-6">

                                <div class="mb-3">
                                    <label class="form-label">Usuario solicitante:</label>
                                    <input th:field="*{usuarioSolicitante}" type="text" th:class="${#fields.hasErrors('usuarioSolicitante')?'form-control is-invalid':'form-control'}"/>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('usuarioSolicitante')}" th:errors="*{usuarioSolicitante}">
                                        Mensaje de error de usuarioSolicitante
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="prioridad" class="form-label">Selector de Prioridad</label>
                                    <select class="form-select" name="prioridad" id="prioridad"
                                            th:if="${ticket2 != null}" th:field="*{prioridad}">
                                        <option value="-1">--Seleccione una Prioridad--</option>
                                        <option value="Baja prioridad">Baja prioridad</option>
                                        <option value="Hacer">Hacer</option>
                                        <option value="No critico">No critico</option>
                                        <option value="Urgente">Urgente</option>
                                    </select>

                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Descripción:</label>
                                    <input th:field="*{descripcion}" type="text" th:class="${#fields.hasErrors('descripcion')?'form-control is-invalid':'form-control'}"/>
                                    <div class="invalid-feedback"
                                         th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">
                                        Mensaje de error de descripcion
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-primary float-end">Crear ticket</button>
                            <div>
                                <a  type="submit" class="btn btn-outline-danger " th:href="@{/analistaOYM/ticket}">Cancelar</a>

                            </div>
                        </div>
                    </form>
                </div>
                <br><br>

            </div>
        </section>
        <br>


    </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

<!-- Para FECHA -->
<script>
    // Obtener el campo de fecha por su ID
    var fechaRegistro2Input = document.getElementById("fechaCreacion");

    // Obtener la fecha actual en el formato deseado ('yyyy-MM-dd')
    var fechaActual = new Date().toISOString().split("T")[0];

    // Establecer la fecha actual como valor del campo
    fechaRegistro2Input.value = fechaActual;
</script>
</body>

</html>