<!DOCTYPE html>
<html lang="en">

<head th:include="Fragmentos/head :: head('Vista Ticket')"></head>

<body>

<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('analistaOYM')"><!-- End Header --></header>
<style>
    #map { height: 50vh; width: 100hw; }
    select {
        width: 30%;
        font-size: 0.8rem
    }

</style>
<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAnalistaOYM :: menu('vistaTicket')">
</aside><!-- End Sidebar-->

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Inicio</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item active">Ticket</li>
                <li class="breadcrumb-item active">Datos del ticket</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->


    <section class="section profile" th:object="${ticket}">
        <div class="row">
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body pt-3">
                        <!-- Bordered Tabs -->
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="datos-overview">
                                <h5 class="card-title" style="color: #095444">Datos generales del Ticket</h5>
                                <br>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Prioridad:</div>
                                    <div class="col-lg-8 col-md-7" style="color: #D01515" th:if="${ticket.prioridad eq 'Urgente'}"><b th:text="${ticket.prioridad}"></b></div>
                                    <div class="col-lg-8 col-md-7" style="color: #3498DB" th:if="${ticket.prioridad eq 'Baja prioridad'}"><b th:text="${ticket.prioridad}"></b></div>
                                    <div class="col-lg-8 col-md-7" style="color: #FFC300" th:if="${ticket.prioridad eq 'Hacer'}"><b th:text="${ticket.prioridad}"></b></div>
                                    <div class="col-lg-8 col-md-7" style="color: #4CAF50" th:if="${ticket.prioridad eq 'No critico'}"><b th:text="${ticket.prioridad}"></b></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Nombre de Usuario:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${ticket.usuarioSolicitante}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Fecha de apertura:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${ticket.fechaCreacion}"></div>
                                </div>

                                <div class="row">

                                    <div class="col-lg-4 col-md-5 label">Fecha de vencimiento:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${ticket.fechaCierre}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Servicio Relacionado:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${ticket.idTipoTicket.nombreTipoTicket}"></div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Empresa Asignada:</div>
                                    <div class="col-lg-8 col-md-7" th:text="${ticket.idEmpresaAsignada.nombre}"></div>
                                </div>


                                <div class="row">
                                    <div class="col-lg-4 col-md-5 label">Estado:</div>
                                    <div class="col-lg-8 col-md-7"><span class="badge text-bg-success">Progreso</span></div>
                                </div>

                            </div>
                            <br>
                        </div><!-- End Bordered Tabs -->
                        <div class="d-flex justify-content-end" th:if="${ticket.estado != 7}">
                            <a type="button" class="btn btn-outline-warning" th:href="@{'/analistaOYM/comentarios?id=' + ${ticket.idTickets}}" style="margin-right: 25px;">Comentarios</a>
                        </div>
                        <div th:if="${ticket.estado == 7}">
                            <form th:action="@{/analistaOYM/actualizarEstado}" class="search-form" method="POST">
                                <input th:value="${ticket.idTickets}" name="idTickets" type="hidden" />

                                <div class="row" th:if="${ticket.estado==7}">
                                    <div class="col-lg-4 col-md-5 label">Estado:</div>
                                    <div class="col-lg-4 col-md-5 label">
                                        <select class="form-select small select" aria-label="Default select example" name="cambioEstado">
                                            <option value="Cerrado">Cerrado</option>
                                            <option value="Finalizado">Finalizado</option>
                                        </select>
                                    </div>
                                </div>

                                <center><br>
                                    <a type="button" class="btn btn-outline-success" th:href="@{'/analistaOYM/formulario?id=' + ${ticket.idTickets}}">Formulario</a>
                                    <a type="button" class="btn btn-outline-warning" th:href="@{'/analistaOYM/comentarios?id=' + ${ticket.idTickets}}">comentarios</a>
                                    <button type="submit" class="btn btn-outline-danger" th:if="${ticket.estado==7}">Guardar</button>
                                </center>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body pt-3">
                        <div class="col-md-8 col-lg-9">
                            <h5 class="card-title" style="color: #095444">Foto del Sitio:</h5>
                            <img th:src="@{https://www.tecnologia-informatica.com/wp-content/uploads/2018/09/mantenimiento-computadoras-16.jpeg}" alt="Profile" style="max-width: 100%; height: auto; display: block; margin: 0 auto; max-height: 70vh;">
                        </div>
                        <div class="tab-content pt-2">

                            <div class="tab-pane fade show active profile-overview" id="profile-overview">
                                <br><br>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Descripcion:</div>
                                    <div class="col-lg-9 col-md-8" th:text="${ticket.descripcion}"></div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 label">Tiempo Transcurrido:</div>
                                    <div class="col-lg-9 col-md-8">2hrs : 26 min : 50 seg</div>
                                </div>
                            </div>
                        </div><!-- End Bordered Tabs -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card">
                <div class="card-body pt-3">
                    <h5 class="card-title" style="color: #095444; text-align: center; ">Ubicacion</h5>
                    <div id="map" ></div>
                    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
                    <script th:inline="javascript">
                        var latitud = [[${ticket.idSitios.latitud}]];
                        var longitud = [[${ticket.idSitios.longitud}]];
                        let map = L.map('map').setView([latitud,longitud],18)
                        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                        }).addTo(map);
                        L.marker([latitud,longitud]).addTo(map).bindPopup('Sitio').openPopup();
                    </script>

                    <script>
                        function centrarMapaEnCoordenadasIniciales() {
                            map.setView([latitud, longitud], 18);
                        }

                        // Agrega el botón como un control personalizado en Leaflet
                        var botonCentrar = L.control({ position: 'bottomright' });

                        botonCentrar.onAdd = function (map) {
                            var container = L.DomUtil.create('div', 'boton-centrar');
                            var button = L.DomUtil.create('button', 'btn btn-primary', container);
                            button.type = 'button';

                            // Crea el icono bx-current-location y agrégalo al botón
                            var icono = L.DomUtil.create('i', 'bx bx-collapse', button);

                            // Agrega el evento de clic para centrar el mapa
                            L.DomEvent.on(button, 'click', centrarMapaEnCoordenadasIniciales);
                            return container;
                        };
                        botonCentrar.addTo(map);
                    </script>

                    <div class="mb-3" style="margin-top: 25px;"> <!-- Agrega un margen en la parte superior -->
                        <input type="text" class="form-control" th:value="'Direccion: ' + ${ticket.idSitios.departamento} +', '+ ${ticket.idSitios.provincia} +', '+ ${ticket.idSitios.distrito}" disabled>
                    </div>
                    <!-- MAPA -->
                </div>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </section>

</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>
<!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>