<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:include="Fragmentos/head :: head('Perfil')"></head>

<body>
<!-- ======= Header ======= -->
<header th:replace="Fragmentos/header :: header('analistaOYM')"><!-- End Header --></header>

<!-- ======= Sidebar ======= -->
<aside th:replace="Fragmentos/menuAdmin :: menu('perfil')">
</aside><!-- End Sidebar-->

<main id="main" class="main">
  <div class="pagetitle">
    <h1 th:text="|Perfil|"></h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:text="|Perfil ${session.usuario.cargo.nombreCargo}|"></a></li>
        <li class="breadcrumb-item active">Perfil</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <section class="section profile">
    <div class="row">
      <div class="col-xl-4">

        <div class="card">
          <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
            <img th:src="@{/assets/img/profile-img.jpg}" alt="Profile" class="rounded-circle">
            <h2 style="color: #095444" th:text="|${session.usuario.nombre} ${session.usuario.apellido}|">Kevin Anderson</h2>
            <h3 th:text="|${session.usuario.cargo.nombreCargo}|">Administrador</h3>
            <h3 th:text="|${session.usuario.dni}|">ID: 123456789</h3>
          </div>
        </div>

      </div>

      <div class="col-xl-8">

        <div class="card">
          <div class="card-body pt-3">
            <!-- Bordered Tabs -->

            <div class="tab-content pt-2">
              <a th:href="@{/analistaOYM/perfil}" class="btn btn-outline-dark me-2 mt-3">General</a>
              <a th:href="@{/analistaOYM/perfilEditar}" class="btn btn-outline-dark me-2 mt-3">Editar perfil</a>
              <a th:href="@{/analistaOYM/perfilContra}" class="btn btn-dark me-2 mt-3 ">Cambiar contraseña</a>
            </div>

            <div class="tab-content pt-2">

              <div class="tab-pane show active fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form method="POST" th:action="@{/analistaOYM/actualizarContra}" onsubmit="return validarFormulario()">

                  <input th:value="${idUsuario}" name="id" type="hidden"/>

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña actual</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" id="currentPassword" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Contraseña nueva</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newpassword" type="password" class="form-control" id="newPassword" required>
                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Vuelve a escribir tu contraseña</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="renewpassword" type="password" class="form-control" id="renewPassword" required>
                    </div>
                  </div>

                  <div class="text-center">
                    <button type="submit" class="btn" style="background-color: #2BC8A9">Cambiar contraseña</button>
                  </div>


                </form><!-- End Change Password Form -->

                <script>
                  function validarFormulario() {
                    var nuevaContrasenia = document.getElementById("newPassword").value;
                    var confirmarContrasenia = document.getElementById("renewPassword").value;

                    if (nuevaContrasenia !== confirmarContrasenia) {
                      alert("La nueva contraseña y la confirmación de la contraseña no coinciden.");
                      return false;
                    }
                    return true;
                  }
                </script>
              </div>

            </div><!-- End Bordered Tabs -->

          </div>
        </div>

      </div>
    </div>
  </section>

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer th:replace="Fragmentos/footer :: footer"></footer>

<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script th:src="@{/assets/vendor/apexcharts/apexcharts.min.js}"></script>
<script th:src="@{/assets/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/vendor/chart.js/chart.umd.js}"></script>
<script th:src="@{/assets/vendor/echarts/echarts.min.js}"></script>
<script th:src="@{/assets/vendor/quill/quill.min.js}"></script>
<script th:src="@{/assets/vendor/simple-datatables/simple-datatables.js}"></script>
<script th:src="@{/assets/vendor/tinymce/tinymce.min.js}"></script>
<script th:src="@{/assets/vendor/php-email-form/validate.js}"></script>

<!-- Template Main JS File -->
<script th:src="@{/assets/js/main.js}"></script>

</body>

</html>